-- MySQL dump 10.13  Distrib 8.0.18, for Win64 (x86_64)
--
-- Host: localhost    Database: automartdb
-- ------------------------------------------------------
-- Server version	8.0.18

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `db_tabprefixblog`
--

DROP TABLE IF EXISTS `db_tabprefixblog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_tabprefixblog` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `type` char(30) NOT NULL,
  `featured_img` char(200) NOT NULL,
  `title` char(200) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `description` longtext CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `created_by` int(11) NOT NULL,
  `create_time` int(11) NOT NULL,
  `status` int(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_tabprefixblog`
--

LOCK TABLES `db_tabprefixblog` WRITE;
/*!40000 ALTER TABLE `db_tabprefixblog` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_tabprefixblog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_tabprefixblog_meta`
--

DROP TABLE IF EXISTS `db_tabprefixblog_meta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_tabprefixblog_meta` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `blog_id` int(11) NOT NULL,
  `key` char(50) NOT NULL,
  `value` text CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `status` int(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_tabprefixblog_meta`
--

LOCK TABLES `db_tabprefixblog_meta` WRITE;
/*!40000 ALTER TABLE `db_tabprefixblog_meta` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_tabprefixblog_meta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_tabprefixbrandmodels`
--

DROP TABLE IF EXISTS `db_tabprefixbrandmodels`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_tabprefixbrandmodels` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `parent` int(11) NOT NULL,
  `name` char(200) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `type` char(10) NOT NULL,
  `status` int(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=208 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_tabprefixbrandmodels`
--

LOCK TABLES `db_tabprefixbrandmodels` WRITE;
/*!40000 ALTER TABLE `db_tabprefixbrandmodels` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_tabprefixbrandmodels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_tabprefixemailtmpl`
--

DROP TABLE IF EXISTS `db_tabprefixemailtmpl`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_tabprefixemailtmpl` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `email_name` char(100) NOT NULL,
  `values` text CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `status` int(1) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_tabprefixemailtmpl`
--

LOCK TABLES `db_tabprefixemailtmpl` WRITE;
/*!40000 ALTER TABLE `db_tabprefixemailtmpl` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_tabprefixemailtmpl` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_tabprefixlanguage`
--

DROP TABLE IF EXISTS `db_tabprefixlanguage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_tabprefixlanguage` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `unique_id` char(100) NOT NULL,
  `lang` char(50) NOT NULL,
  `short_name` char(5) NOT NULL,
  `values` text CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `status` int(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_id` (`unique_id`),
  UNIQUE KEY `lang` (`lang`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_tabprefixlanguage`
--

LOCK TABLES `db_tabprefixlanguage` WRITE;
/*!40000 ALTER TABLE `db_tabprefixlanguage` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_tabprefixlanguage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_tabprefixlocations`
--

DROP TABLE IF EXISTS `db_tabprefixlocations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_tabprefixlocations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `parent` int(11) NOT NULL,
  `name` char(200) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `type` char(10) NOT NULL,
  `status` int(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=77 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_tabprefixlocations`
--

LOCK TABLES `db_tabprefixlocations` WRITE;
/*!40000 ALTER TABLE `db_tabprefixlocations` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_tabprefixlocations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_tabprefixmedia`
--

DROP TABLE IF EXISTS `db_tabprefixmedia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_tabprefixmedia` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `media_name` char(255) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `media_url` mediumtext CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `create_time` datetime NOT NULL,
  `created_by` int(10) NOT NULL,
  `status` int(1) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_tabprefixmedia`
--

LOCK TABLES `db_tabprefixmedia` WRITE;
/*!40000 ALTER TABLE `db_tabprefixmedia` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_tabprefixmedia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_tabprefixoptions`
--

DROP TABLE IF EXISTS `db_tabprefixoptions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_tabprefixoptions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `key` char(255) NOT NULL,
  `values` text CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `status` int(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_tabprefixoptions`
--

LOCK TABLES `db_tabprefixoptions` WRITE;
/*!40000 ALTER TABLE `db_tabprefixoptions` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_tabprefixoptions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_tabprefixpackages`
--

DROP TABLE IF EXISTS `db_tabprefixpackages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_tabprefixpackages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(300) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `description` text CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `price` decimal(11,2) NOT NULL,
  `max_post` int(11) NOT NULL,
  `expiration_time` int(11) NOT NULL,
  `status` int(11) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_tabprefixpackages`
--

LOCK TABLES `db_tabprefixpackages` WRITE;
/*!40000 ALTER TABLE `db_tabprefixpackages` DISABLE KEYS */;
INSERT INTO `db_tabprefixpackages` VALUES (1,'Basic','Sample Package Description...',5.00,10,30,1),(2,'Normal','',10.00,10,60,1),(3,'Free','Free Package for all user',0.00,50,365,1);
/*!40000 ALTER TABLE `db_tabprefixpackages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_tabprefixpages`
--

DROP TABLE IF EXISTS `db_tabprefixpages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_tabprefixpages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `alias` char(50) NOT NULL,
  `show_in_menu` int(1) NOT NULL DEFAULT '1',
  `layout` int(1) NOT NULL,
  `content_from` char(10) NOT NULL DEFAULT 'Manual',
  `title` text CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `url` char(150) NOT NULL,
  `content` text CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `sidebar` text CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `seo_settings` text CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `create_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `status` int(1) NOT NULL DEFAULT '1',
  `editable` int(1) NOT NULL DEFAULT '1',
  `parent` int(11) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_tabprefixpages`
--

LOCK TABLES `db_tabprefixpages` WRITE;
/*!40000 ALTER TABLE `db_tabprefixpages` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_tabprefixpages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_tabprefixplugins`
--

DROP TABLE IF EXISTS `db_tabprefixplugins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_tabprefixplugins` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `plugin` varchar(255) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `status` int(1) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_tabprefixplugins`
--

LOCK TABLES `db_tabprefixplugins` WRITE;
/*!40000 ALTER TABLE `db_tabprefixplugins` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_tabprefixplugins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_tabprefixpost_meta`
--

DROP TABLE IF EXISTS `db_tabprefixpost_meta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_tabprefixpost_meta` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `post_id` int(11) NOT NULL,
  `key` char(50) NOT NULL,
  `value` text CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `status` int(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_tabprefixpost_meta`
--

LOCK TABLES `db_tabprefixpost_meta` WRITE;
/*!40000 ALTER TABLE `db_tabprefixpost_meta` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_tabprefixpost_meta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_tabprefixposts`
--

DROP TABLE IF EXISTS `db_tabprefixposts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_tabprefixposts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `unique_id` char(100) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `car_type` char(50) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `brand` int(11) NOT NULL,
  `model` int(11) NOT NULL,
  `year` int(4) NOT NULL,
  `condition` char(250) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `mileage` int(11) NOT NULL,
  `transmission` char(100) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `price` decimal(15,2) NOT NULL,
  `reg_no` char(100) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `engine_size` char(100) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `engine_type` char(100) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `exterior_color` char(100) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `interior_color` char(100) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `fuel_type` char(100) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `safety_rating` int(2) NOT NULL,
  `no_of_seats` int(11) NOT NULL,
  `steering_type` char(100) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `height` char(100) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `width` char(100) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `length` char(100) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `wheel_base` char(100) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `track_rear` char(100) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `track_front` char(100) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `ground_clearance` char(100) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `featured_img` char(255) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `gallery` text CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `facilities` text CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `created_by` int(11) NOT NULL,
  `create_time` int(11) NOT NULL,
  `publish_time` date NOT NULL,
  `status` int(1) NOT NULL,
  `featured` int(1) NOT NULL DEFAULT '0',
  `report` int(11) NOT NULL DEFAULT '0',
  `total_view` int(10) NOT NULL DEFAULT '0',
  `search_meta` text CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_id` (`unique_id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_tabprefixposts`
--

LOCK TABLES `db_tabprefixposts` WRITE;
/*!40000 ALTER TABLE `db_tabprefixposts` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_tabprefixposts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_tabprefixsessions`
--

DROP TABLE IF EXISTS `db_tabprefixsessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_tabprefixsessions` (
  `session_id` varchar(40) NOT NULL DEFAULT '0',
  `ip_address` varchar(16) NOT NULL DEFAULT '0',
  `user_agent` varchar(50) NOT NULL,
  `last_activity` int(10) unsigned NOT NULL DEFAULT '0',
  `user_data` text NOT NULL,
  PRIMARY KEY (`session_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_tabprefixsessions`
--

LOCK TABLES `db_tabprefixsessions` WRITE;
/*!40000 ALTER TABLE `db_tabprefixsessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_tabprefixsessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_tabprefixuser_meta`
--

DROP TABLE IF EXISTS `db_tabprefixuser_meta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_tabprefixuser_meta` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `key` char(30) NOT NULL,
  `value` text CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `status` int(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_tabprefixuser_meta`
--

LOCK TABLES `db_tabprefixuser_meta` WRITE;
/*!40000 ALTER TABLE `db_tabprefixuser_meta` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_tabprefixuser_meta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_tabprefixuser_package`
--

DROP TABLE IF EXISTS `db_tabprefixuser_package`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_tabprefixuser_package` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `unique_id` char(100) NOT NULL,
  `user_id` int(11) NOT NULL,
  `package_id` int(11) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `request_date` date NOT NULL,
  `activation_date` date NOT NULL,
  `expirtion_date` date NOT NULL,
  `is_active` int(1) NOT NULL COMMENT '0=no,2=pending,1=active',
  `status` int(1) NOT NULL COMMENT '0=deleted,1=active',
  `payment_medium` char(20) NOT NULL DEFAULT 'paypal',
  `response_log` text NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_id` (`unique_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_tabprefixuser_package`
--

LOCK TABLES `db_tabprefixuser_package` WRITE;
/*!40000 ALTER TABLE `db_tabprefixuser_package` DISABLE KEYS */;
INSERT INTO `db_tabprefixuser_package` VALUES (1,'54156ba6a3c4f',3,3,0.00,'2014-09-14','2014-09-14','2015-09-14',1,1,'paypal',''),(2,'5416b6a22e448',4,1,5.00,'2014-09-15','0000-00-00','0000-00-00',2,1,'paypal',''),(3,'54180ebf53063',5,1,5.00,'2014-09-16','0000-00-00','0000-00-00',2,1,'paypal','');
/*!40000 ALTER TABLE `db_tabprefixuser_package` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_tabprefixusers`
--

DROP TABLE IF EXISTS `db_tabprefixusers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_tabprefixusers` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `user_type` int(3) NOT NULL,
  `first_name` char(40) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL DEFAULT '',
  `last_name` char(40) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL DEFAULT '',
  `gender` char(10) NOT NULL DEFAULT '',
  `profile_photo` char(200) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL DEFAULT '',
  `user_name` char(100) NOT NULL,
  `user_email` char(100) NOT NULL,
  `password` char(255) NOT NULL,
  `remember_me_key` char(255) NOT NULL DEFAULT '',
  `recovery_key` char(255) NOT NULL DEFAULT '',
  `confirmation_key` char(30) NOT NULL DEFAULT '',
  `confirmed` int(1) NOT NULL DEFAULT '1',
  `confirmed_date` datetime NOT NULL DEFAULT '0000-00-00 00:00:00',
  `status` int(1) NOT NULL DEFAULT '0',
  `banned` int(11) NOT NULL DEFAULT '0',
  `banned_date` datetime NOT NULL DEFAULT '0000-00-00 00:00:00',
  `banned_till` datetime NOT NULL DEFAULT '0000-00-00 00:00:00',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_tabprefixusers`
--

LOCK TABLES `db_tabprefixusers` WRITE;
/*!40000 ALTER TABLE `db_tabprefixusers` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_tabprefixusers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_tabprefixusertype`
--

DROP TABLE IF EXISTS `db_tabprefixusertype`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_tabprefixusertype` (
  `id` int(3) NOT NULL AUTO_INCREMENT,
  `name` char(20) NOT NULL,
  `status` int(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_tabprefixusertype`
--

LOCK TABLES `db_tabprefixusertype` WRITE;
/*!40000 ALTER TABLE `db_tabprefixusertype` DISABLE KEYS */;
INSERT INTO `db_tabprefixusertype` VALUES (1,'admin',1),(2,'agent',1);
/*!40000 ALTER TABLE `db_tabprefixusertype` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_tabprefixwidgets`
--

DROP TABLE IF EXISTS `db_tabprefixwidgets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_tabprefixwidgets` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` char(20) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `alias` char(23) NOT NULL,
  `params` text NOT NULL,
  `status` int(1) NOT NULL,
  `editable` int(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_tabprefixwidgets`
--

LOCK TABLES `db_tabprefixwidgets` WRITE;
/*!40000 ALTER TABLE `db_tabprefixwidgets` DISABLE KEYS */;
INSERT INTO `db_tabprefixwidgets` VALUES (1,'All types','all_types','',1,1),(3,'Top Dealers','top_dealers','',1,1),(4,'Featured Cars','featured_cars','',1,1),(5,'Top cars','top_cars','',1,1),(6,'Language selector','language_selector','',1,1),(7,'Facebook like box','facebook_like_box','',1,1),(8,'Contact text','contact_text','',1,1),(9,'Follow us','follow_us','',1,1),(10,'News Post','news_post','',1,1),(11,'Blog Post','blog_post','',1,1),(12,'Article Post','article_post','',1,1),(13,'Short Description','short_description','',1,1),(14,'Plain Search Widget','plain_search_widget','',1,1);
/*!40000 ALTER TABLE `db_tabprefixwidgets` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2020-10-06 22:01:54
