-- MySQL dump 10.13  Distrib 8.0.18, for Win64 (x86_64)
--
-- Host: localhost    Database: courtsystemdb
-- ------------------------------------------------------
-- Server version	8.0.18

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin` (
  `id` int(255) NOT NULL AUTO_INCREMENT,
  `username` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `display_image` varchar(255) NOT NULL,
  `status` varchar(255) NOT NULL,
  `role` varchar(255) NOT NULL,
  `firstname` varchar(255) NOT NULL,
  `lastname` varchar(255) NOT NULL,
  `home_address` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `phone` varchar(255) NOT NULL,
  `home_city` varchar(255) NOT NULL,
  `home_state` varchar(255) NOT NULL,
  `home_country` varchar(255) NOT NULL,
  `home_zip` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
INSERT INTO `admin` VALUES (1,'admin','21232f297a57a5a743894a0e4a801fc3','http://gocourt.in/admin/uploads/Ankita5.jpg','','CEO','ankita','shunmugavel','6/111,Nalupulikottai','raj.yaffy@live.com','9994108109','dindigul','','',''),(2,'ragu','423abcc373f1ad82211b71e10d5253c9','http://192.168.1.31/Rajkumar/GoJudiciary/uploads/siruthai-siva-to-team-up-with-ajith-kumar-yet-again-for-thala-57-photos-pictures-stills2.jpg','','','nathan','ragu','chinnalapatty','ragu@gmail.com','9787256314','dindigul','','','');
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `consultation`
--

DROP TABLE IF EXISTS `consultation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `consultation` (
  `id` int(255) NOT NULL AUTO_INCREMENT,
  `practice_id` int(255) NOT NULL,
  `lawyer_id` int(255) NOT NULL,
  `customer_id` int(255) NOT NULL,
  `client_name` varchar(255) NOT NULL,
  `client_email` varchar(255) NOT NULL,
  `client_phone` varchar(255) NOT NULL,
  `appointment_date` varchar(255) NOT NULL,
  `client_query` varchar(2000) NOT NULL,
  `payment_status` varchar(255) NOT NULL,
  `client_consult` varchar(255) NOT NULL,
  `consult_type` varchar(255) NOT NULL,
  `appointment_status` varchar(255) NOT NULL,
  `lawyer_answer` varchar(3000) NOT NULL,
  `txn_id` varchar(255) NOT NULL,
  `payment_gross` float(10,2) NOT NULL,
  `currency_code` varchar(5) NOT NULL,
  `payment_date` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=84 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `consultation`
--

LOCK TABLES `consultation` WRITE;
/*!40000 ALTER TABLE `consultation` DISABLE KEYS */;
/*!40000 ALTER TABLE `consultation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `court_categories`
--

DROP TABLE IF EXISTS `court_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `court_categories` (
  `id` int(255) NOT NULL AUTO_INCREMENT,
  `court_name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `court_categories`
--

LOCK TABLES `court_categories` WRITE;
/*!40000 ALTER TABLE `court_categories` DISABLE KEYS */;
INSERT INTO `court_categories` VALUES (2,'Village Court'),(3,'District Court'),(4,'Supreme Court'),(5,'High Court'),(6,'Executive Court');
/*!40000 ALTER TABLE `court_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cronjob`
--

DROP TABLE IF EXISTS `cronjob`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cronjob` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `status` varchar(255) NOT NULL,
  `date_time` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cronjob`
--

LOCK TABLES `cronjob` WRITE;
/*!40000 ALTER TABLE `cronjob` DISABLE KEYS */;
/*!40000 ALTER TABLE `cronjob` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer`
--

DROP TABLE IF EXISTS `customer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `customer_firstname` varchar(255) NOT NULL,
  `customer_lastname` varchar(255) NOT NULL,
  `customer_email` varchar(255) NOT NULL,
  `customer_password` varchar(255) NOT NULL,
  `customer_display_image` varchar(255) NOT NULL,
  `customer_status` varchar(255) NOT NULL,
  `customer_type` varchar(255) NOT NULL,
  `customer_phone` varchar(255) NOT NULL,
  `customer_gender` varchar(255) NOT NULL,
  `customer_dob` varchar(255) NOT NULL,
  `customer_personal_address` varchar(255) NOT NULL,
  `customer_personal_city` varchar(255) NOT NULL,
  `customer_personal_state` varchar(255) NOT NULL,
  `customer_personal_country` varchar(255) NOT NULL,
  `customer_personal_zip` varchar(255) NOT NULL,
  `customer_billing_address` varchar(255) NOT NULL,
  `customer_billing_city` varchar(255) NOT NULL,
  `customer_billing_state` varchar(255) NOT NULL,
  `customer_billing_country` varchar(255) NOT NULL,
  `customer_billing_zip` varchar(255) NOT NULL,
  `customer_billing_phone` varchar(255) NOT NULL,
  `customer_billing_email` varchar(255) NOT NULL,
  `customer_billing_name` varchar(255) NOT NULL,
  `customer_language` varchar(255) NOT NULL,
  `customer_username` varchar(255) NOT NULL,
  `active_code` varchar(300) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer`
--

LOCK TABLES `customer` WRITE;
/*!40000 ALTER TABLE `customer` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lawyer`
--

DROP TABLE IF EXISTS `lawyer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lawyer` (
  `id` int(255) NOT NULL AUTO_INCREMENT,
  `lawyer_firstname` varchar(255) NOT NULL,
  `lawyer_lastname` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `experience` varchar(255) NOT NULL,
  `phone` varchar(255) NOT NULL,
  `home_city` varchar(255) NOT NULL,
  `home_state` varchar(255) NOT NULL,
  `home_country` varchar(255) NOT NULL,
  `display_image` varchar(255) NOT NULL,
  `status` varchar(255) NOT NULL,
  `type` varchar(255) NOT NULL,
  `firmname` varchar(255) NOT NULL,
  `office_address` varchar(255) NOT NULL,
  `office_city` varchar(255) NOT NULL,
  `office_state` varchar(255) NOT NULL,
  `office_country` varchar(255) NOT NULL,
  `office_zip` int(255) NOT NULL,
  `office_workingtimedays` varchar(255) NOT NULL,
  `court` varchar(255) NOT NULL,
  `languages` varchar(255) NOT NULL,
  `statebar` varchar(255) NOT NULL,
  `barcouncil_number` varchar(255) NOT NULL,
  `home_address` varchar(255) NOT NULL,
  `home_zip` int(255) NOT NULL,
  `degree` varchar(255) NOT NULL,
  `practice` varchar(255) NOT NULL,
  `bar_association` varchar(255) NOT NULL,
  `resume` varchar(2500) NOT NULL,
  `c_vitae` varchar(255) NOT NULL,
  `council_idphoto` varchar(255) NOT NULL,
  `remarks` varchar(255) NOT NULL,
  `referring_lawyer` varchar(255) NOT NULL,
  `username` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `email_consultation` varchar(255) NOT NULL,
  `phone_consultation` varchar(255) NOT NULL,
  `meeting_consultation` varchar(255) NOT NULL,
  `video_consultation` varchar(255) NOT NULL,
  `gender` varchar(255) NOT NULL,
  `latitude` varchar(255) NOT NULL,
  `longitude` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lawyer`
--

LOCK TABLES `lawyer` WRITE;
/*!40000 ALTER TABLE `lawyer` DISABLE KEYS */;
/*!40000 ALTER TABLE `lawyer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `legal_guide`
--

DROP TABLE IF EXISTS `legal_guide`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `legal_guide` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `practice_id` int(11) NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` varchar(10000) NOT NULL,
  `subject` varchar(1000) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `legal_guide`
--

LOCK TABLES `legal_guide` WRITE;
/*!40000 ALTER TABLE `legal_guide` DISABLE KEYS */;
/*!40000 ALTER TABLE `legal_guide` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `legalanswer`
--

DROP TABLE IF EXISTS `legalanswer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `legalanswer` (
  `id` int(255) NOT NULL AUTO_INCREMENT,
  `legalquestion_id` int(255) NOT NULL,
  `lawyer_id` int(255) NOT NULL,
  `answer` varchar(3000) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `legalanswer`
--

LOCK TABLES `legalanswer` WRITE;
/*!40000 ALTER TABLE `legalanswer` DISABLE KEYS */;
/*!40000 ALTER TABLE `legalanswer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `legalquestion`
--

DROP TABLE IF EXISTS `legalquestion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `legalquestion` (
  `id` int(255) NOT NULL AUTO_INCREMENT,
  `practice_id` varchar(255) NOT NULL,
  `lawyer_id` varchar(255) NOT NULL,
  `question_city` varchar(255) NOT NULL,
  `subject` varchar(255) NOT NULL,
  `question` varchar(2000) NOT NULL,
  `answer` varchar(2000) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `legalquestion`
--

LOCK TABLES `legalquestion` WRITE;
/*!40000 ALTER TABLE `legalquestion` DISABLE KEYS */;
/*!40000 ALTER TABLE `legalquestion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `needhelp`
--

DROP TABLE IF EXISTS `needhelp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `needhelp` (
  `id` int(255) NOT NULL AUTO_INCREMENT,
  `help_name` varchar(255) NOT NULL,
  `help_phone` varchar(255) NOT NULL,
  `help_city` varchar(255) NOT NULL,
  `help_email` varchar(255) NOT NULL,
  `lawyer_id` varchar(255) NOT NULL,
  `legal_issues` varchar(2000) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `needhelp`
--

LOCK TABLES `needhelp` WRITE;
/*!40000 ALTER TABLE `needhelp` DISABLE KEYS */;
/*!40000 ALTER TABLE `needhelp` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `practice_categories`
--

DROP TABLE IF EXISTS `practice_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `practice_categories` (
  `id` int(255) NOT NULL AUTO_INCREMENT,
  `practice_name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `practice_categories`
--

LOCK TABLES `practice_categories` WRITE;
/*!40000 ALTER TABLE `practice_categories` DISABLE KEYS */;
INSERT INTO `practice_categories` VALUES (2,'recovery'),(3,'property'),(4,'divorce'),(5,'consumer'),(6,'civil'),(7,'labour'),(8,'corporate'),(9,'immigration'),(10,'banking'),(12,'children'),(18,'criminal'),(19,'family'),(21,'arbitration'),(22,'documentation'),(23,'startup'),(24,'insurance'),(25,'medical'),(26,'wills'),(27,'vehicle');
/*!40000 ALTER TABLE `practice_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `smtp_username` varchar(255) NOT NULL,
  `smtp_host` varchar(255) NOT NULL,
  `smtp_password` varchar(255) NOT NULL,
  `admin_email` varchar(255) NOT NULL,
  `logo` varchar(255) NOT NULL,
  `favicon` varchar(255) NOT NULL,
  `title` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
INSERT INTO `settings` VALUES (1,'no-reply@techware.in','mail.techware.in','Golden@reply','no-reply@techware.in','http://gocourt.in/admin/uploads/logo-v1.png','http://gocourt.in/admin/uploads/fav_icon.png','gocourt');
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_reviews`
--

DROP TABLE IF EXISTS `user_reviews`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_reviews` (
  `id` int(255) NOT NULL AUTO_INCREMENT,
  `review` varchar(2000) NOT NULL,
  `date` varchar(255) NOT NULL,
  `user_id` int(255) NOT NULL,
  `lawyer_id` int(255) NOT NULL,
  `rating_lawyer` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_reviews`
--

LOCK TABLES `user_reviews` WRITE;
/*!40000 ALTER TABLE `user_reviews` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_reviews` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2020-10-06 22:03:19
