-- MySQL dump 10.13  Distrib 8.0.18, for Win64 (x86_64)
--
-- Host: localhost    Database: cryptomarketplatform
-- ------------------------------------------------------
-- Server version	8.0.18

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin` (
  `id` int(11) NOT NULL,
  `firstname` varchar(50) DEFAULT NULL,
  `lastname` varchar(50) DEFAULT NULL,
  `about` text,
  `email` varchar(100) NOT NULL,
  `password` varchar(32) NOT NULL,
  `password_reset_token` varchar(20) DEFAULT NULL,
  `image` varchar(100) DEFAULT NULL,
  `last_login` datetime DEFAULT NULL,
  `last_logout` datetime DEFAULT NULL,
  `ip_address` varchar(14) DEFAULT NULL,
  `status` tinyint(1) NOT NULL DEFAULT '1',
  `is_admin` tinyint(4) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `advertisement`
--

DROP TABLE IF EXISTS `advertisement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `advertisement` (
  `id` int(11) NOT NULL,
  `name` varchar(100) DEFAULT NULL,
  `page` int(11) DEFAULT NULL,
  `image` varchar(100) DEFAULT NULL,
  `script` text,
  `url` varchar(255) DEFAULT NULL,
  `serial_position` int(11) DEFAULT NULL,
  `status` int(11) DEFAULT NULL,
  `date` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `advertisement`
--

LOCK TABLES `advertisement` WRITE;
/*!40000 ALTER TABLE `advertisement` DISABLE KEYS */;
/*!40000 ALTER TABLE `advertisement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crypto_currency`
--

DROP TABLE IF EXISTS `crypto_currency`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `crypto_currency` (
  `cid` int(11) NOT NULL,
  `id` varchar(50) NOT NULL,
  `name` varchar(50) NOT NULL,
  `symbol` varchar(50) NOT NULL,
  `rank` int(11) NOT NULL,
  `price_usd` varchar(50) NOT NULL,
  `price_btc` varchar(50) NOT NULL,
  `24h_volume_usd` varchar(50) NOT NULL,
  `market_cap_usd` varchar(50) NOT NULL,
  `available_supply` varchar(50) NOT NULL,
  `total_supply` varchar(50) NOT NULL,
  `max_supply` varchar(50) NOT NULL,
  `percent_change_1h` varchar(50) NOT NULL,
  `percent_change_24h` varchar(50) NOT NULL,
  `percent_change_7d` varchar(50) NOT NULL,
  `last_updated` varchar(50) NOT NULL,
  `status` int(2) NOT NULL,
  PRIMARY KEY (`cid`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crypto_currency`
--

LOCK TABLES `crypto_currency` WRITE;
/*!40000 ALTER TABLE `crypto_currency` DISABLE KEYS */;
/*!40000 ALTER TABLE `crypto_currency` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crypto_payments`
--

DROP TABLE IF EXISTS `crypto_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `crypto_payments` (
  `paymentID` int(11) unsigned NOT NULL,
  `boxID` int(11) unsigned NOT NULL DEFAULT '0',
  `boxType` enum('paymentbox','captchabox') NOT NULL,
  `orderID` varchar(50) NOT NULL DEFAULT '',
  `userID` varchar(50) NOT NULL DEFAULT '',
  `countryID` varchar(3) NOT NULL DEFAULT '',
  `coinLabel` varchar(6) NOT NULL DEFAULT '',
  `amount` double(20,8) NOT NULL DEFAULT '0.00000000',
  `amountUSD` double(20,8) NOT NULL DEFAULT '0.00000000',
  `unrecognised` tinyint(1) unsigned NOT NULL DEFAULT '0',
  `addr` varchar(34) NOT NULL DEFAULT '',
  `txID` char(64) NOT NULL DEFAULT '',
  `txDate` datetime DEFAULT NULL,
  `txConfirmed` tinyint(1) unsigned NOT NULL DEFAULT '0',
  `txCheckDate` datetime DEFAULT NULL,
  `processed` tinyint(1) unsigned NOT NULL DEFAULT '0',
  `processedDate` datetime DEFAULT NULL,
  `recordCreated` datetime DEFAULT NULL,
  PRIMARY KEY (`paymentID`),
  UNIQUE KEY `key3` (`boxID`,`orderID`,`userID`,`txID`,`amount`,`addr`),
  KEY `boxID` (`boxID`),
  KEY `boxType` (`boxType`),
  KEY `userID` (`userID`),
  KEY `countryID` (`countryID`),
  KEY `orderID` (`orderID`),
  KEY `amount` (`amount`),
  KEY `amountUSD` (`amountUSD`),
  KEY `coinLabel` (`coinLabel`),
  KEY `unrecognised` (`unrecognised`),
  KEY `addr` (`addr`),
  KEY `txID` (`txID`),
  KEY `txDate` (`txDate`),
  KEY `txConfirmed` (`txConfirmed`),
  KEY `txCheckDate` (`txCheckDate`),
  KEY `processed` (`processed`),
  KEY `processedDate` (`processedDate`),
  KEY `recordCreated` (`recordCreated`),
  KEY `key1` (`boxID`,`orderID`),
  KEY `key2` (`boxID`,`orderID`,`userID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crypto_payments`
--

LOCK TABLES `crypto_payments` WRITE;
/*!40000 ALTER TABLE `crypto_payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `crypto_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cryptolist`
--

DROP TABLE IF EXISTS `cryptolist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cryptolist` (
  `cid` int(11) NOT NULL,
  `Id` int(11) NOT NULL,
  `Url` varchar(300) DEFAULT NULL,
  `ImageUrl` varchar(300) DEFAULT NULL,
  `Name` varchar(100) DEFAULT NULL,
  `Symbol` varchar(100) NOT NULL,
  `CoinName` varchar(100) DEFAULT NULL,
  `FullName` varchar(100) DEFAULT NULL,
  `Algorithm` varchar(100) DEFAULT NULL,
  `ProofType` varchar(100) DEFAULT NULL,
  `FullyPremined` varchar(100) DEFAULT NULL,
  `TotalCoinSupply` varchar(100) DEFAULT NULL,
  `PreMinedValue` varchar(100) DEFAULT NULL,
  `TotalCoinsFreeFloat` varchar(100) DEFAULT NULL,
  `SortOrder` int(11) DEFAULT NULL,
  `Sponsored` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`cid`),
  UNIQUE KEY `Id` (`Id`),
  UNIQUE KEY `Symbol` (`Symbol`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cryptolist`
--

LOCK TABLES `cryptolist` WRITE;
/*!40000 ALTER TABLE `cryptolist` DISABLE KEYS */;
/*!40000 ALTER TABLE `cryptolist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `deposit`
--

DROP TABLE IF EXISTS `deposit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `deposit` (
  `deposit_id` int(11) NOT NULL,
  `user_id` varchar(255) DEFAULT NULL,
  `deposit_amount` varchar(250) NOT NULL,
  `deposit_method` varchar(255) DEFAULT NULL,
  `fees` float DEFAULT NULL,
  `comments` text,
  `deposit_date` timestamp NULL DEFAULT NULL,
  `deposit_ip` varchar(45) DEFAULT NULL,
  `status` int(11) NOT NULL DEFAULT '0',
  PRIMARY KEY (`deposit_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COMMENT='Customer deposit information will store into this table.';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `deposit`
--

LOCK TABLES `deposit` WRITE;
/*!40000 ALTER TABLE `deposit` DISABLE KEYS */;
/*!40000 ALTER TABLE `deposit` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `earnings`
--

DROP TABLE IF EXISTS `earnings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `earnings` (
  `earning_id` int(11) NOT NULL,
  `user_id` varchar(250) NOT NULL,
  `Purchaser_id` varchar(250) DEFAULT NULL,
  `earning_type` varchar(45) NOT NULL,
  `package_id` varchar(250) DEFAULT NULL,
  `order_id` int(11) DEFAULT NULL,
  `date` varchar(45) NOT NULL,
  `amount` varchar(45) NOT NULL,
  `comments` mediumtext,
  PRIMARY KEY (`earning_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COMMENT='Weekly ROI, Monthly ROI, team bonous, direct referal bonous';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `earnings`
--

LOCK TABLES `earnings` WRITE;
/*!40000 ALTER TABLE `earnings` DISABLE KEYS */;
/*!40000 ALTER TABLE `earnings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `email_sms_gateway`
--

DROP TABLE IF EXISTS `email_sms_gateway`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `email_sms_gateway` (
  `es_id` int(11) NOT NULL,
  `gatewayname` varchar(10) NOT NULL,
  `title` varchar(100) DEFAULT NULL,
  `protocol` varchar(100) DEFAULT NULL,
  `host` varchar(100) DEFAULT NULL,
  `port` varchar(100) DEFAULT NULL,
  `user` varchar(100) DEFAULT NULL,
  `userid` varchar(100) DEFAULT NULL,
  `password` varchar(100) DEFAULT NULL,
  `mailtype` varchar(100) DEFAULT NULL,
  `charset` varchar(100) DEFAULT NULL,
  `api` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`es_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `email_sms_gateway`
--

LOCK TABLES `email_sms_gateway` WRITE;
/*!40000 ALTER TABLE `email_sms_gateway` DISABLE KEYS */;
INSERT INTO `email_sms_gateway` VALUES (1,'budgetsms','Bdtask SMS',NULL,'https://api.budgetsms.net/sendsms/?',NULL,'bdtask','2345',NULL,NULL,NULL,'r44ee7b6b3bd16cc69aec82f6tt'),(2,'smtp','Bbtask mail','smtp','ssl://smtp.gmail.com','465','rdmvaijah@gmail.com','','vai99862','html','utf-8',NULL);
/*!40000 ALTER TABLE `email_sms_gateway` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ext_document`
--

DROP TABLE IF EXISTS `ext_document`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ext_document` (
  `ext_document_id` int(11) NOT NULL,
  `ext_exchange_id` int(11) NOT NULL,
  `doc_url` varchar(100) NOT NULL,
  PRIMARY KEY (`ext_document_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ext_document`
--

LOCK TABLES `ext_document` WRITE;
/*!40000 ALTER TABLE `ext_document` DISABLE KEYS */;
/*!40000 ALTER TABLE `ext_document` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ext_exchange`
--

DROP TABLE IF EXISTS `ext_exchange`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ext_exchange` (
  `ext_exchange_id` int(11) NOT NULL,
  `coin_id` int(11) NOT NULL,
  `user_id` varchar(100) NOT NULL,
  `coin_wallet_id` varchar(100) NOT NULL,
  `transection_type` varchar(100) NOT NULL,
  `coin_amount` varchar(100) NOT NULL,
  `usd_amount` varchar(100) NOT NULL,
  `local_amount` varchar(100) NOT NULL,
  `payment_method` varchar(100) NOT NULL,
  `request_ip` varchar(100) NOT NULL,
  `verification_code` varchar(100) NOT NULL,
  `payment_details` varchar(100) DEFAULT NULL,
  `rate_coin` varchar(100) DEFAULT NULL,
  `date_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `om_name` varchar(100) DEFAULT NULL,
  `om_mobile` varchar(100) DEFAULT NULL,
  `transaction_no` varchar(100) DEFAULT NULL,
  `idcard_no` varchar(100) DEFAULT NULL,
  `document_status` int(11) NOT NULL,
  `status` int(11) NOT NULL COMMENT '0=cancel, 1=requested, 2=complete',
  `receive_status` int(11) NOT NULL,
  `payment_status` int(11) NOT NULL,
  `receive_by` varchar(100) NOT NULL,
  `payment_by` varchar(100) NOT NULL,
  PRIMARY KEY (`ext_exchange_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ext_exchange`
--

LOCK TABLES `ext_exchange` WRITE;
/*!40000 ALTER TABLE `ext_exchange` DISABLE KEYS */;
/*!40000 ALTER TABLE `ext_exchange` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ext_exchange_wallet`
--

DROP TABLE IF EXISTS `ext_exchange_wallet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ext_exchange_wallet` (
  `ext_exchange_wallet_id` int(11) NOT NULL,
  `coin_id` varchar(100) NOT NULL,
  `coin_name` varchar(100) NOT NULL,
  `wallet_data` varchar(100) NOT NULL,
  `sell_adjustment` varchar(100) NOT NULL,
  `buy_adjustment` varchar(100) NOT NULL,
  `status` int(11) NOT NULL,
  PRIMARY KEY (`ext_exchange_wallet_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ext_exchange_wallet`
--

LOCK TABLES `ext_exchange_wallet` WRITE;
/*!40000 ALTER TABLE `ext_exchange_wallet` DISABLE KEYS */;
INSERT INTO `ext_exchange_wallet` VALUES (1,'1','Bitcoin','BBBBBBBBBBBBBBBBBBBB','10','15',1),(2,'2','Ethereum','EEEEEEEEEEEEEEEEEEEE','10','15',1),(3,'3','Ripple','RRRRRRRRRRRRRRRRRRRR','10','15',1),(4,'4','Bitcoin Cash','BCBCBCBCBCBCBCBCBCBC','10','15',1),(5,'6','Litecoin','LLLLLLLLLLLLLLLLLLLL','10','15',1),(6,'7','NEM','NNNNNNNNNNNNNNNNNNNN','10','15',1),(7,'100','Emercoin','EMEMEMEMEMEMEMEMEMEM','10','15',1),(8,'12','Dash','DDDDDDDDDDDDDDDDDDDD','10','15',1),(9,'32','VeChain','VVVVVVVVVVVVVVVVVVVV','10','15',1),(10,'93','XPlay','XXXXXXXXXXXXXXXXXXXX','10','15',1);
/*!40000 ALTER TABLE `ext_exchange_wallet` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `external_api_setup`
--

DROP TABLE IF EXISTS `external_api_setup`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `external_api_setup` (
  `id` int(2) NOT NULL,
  `name` varchar(50) NOT NULL,
  `data` text NOT NULL,
  `status` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `external_api_setup`
--

LOCK TABLES `external_api_setup` WRITE;
/*!40000 ALTER TABLE `external_api_setup` DISABLE KEYS */;
INSERT INTO `external_api_setup` VALUES (1,'coinmarketcap','{\"api_key\":\"ccf8e1ed-29dc-4dd9-82e3-7805dd76b4b1\"}',1);
/*!40000 ALTER TABLE `external_api_setup` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fees_tbl`
--

DROP TABLE IF EXISTS `fees_tbl`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fees_tbl` (
  `id` int(11) NOT NULL,
  `level` text,
  `fees` float DEFAULT NULL,
  `status` int(11) NOT NULL DEFAULT '1'
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fees_tbl`
--

LOCK TABLES `fees_tbl` WRITE;
/*!40000 ALTER TABLE `fees_tbl` DISABLE KEYS */;
INSERT INTO `fees_tbl` VALUES (1,'deposit',1,1),(2,'withdraw',1,1),(3,'transfer',0,1);
/*!40000 ALTER TABLE `fees_tbl` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `investment`
--

DROP TABLE IF EXISTS `investment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `investment` (
  `order_id` int(11) NOT NULL,
  `user_id` varchar(255) NOT NULL,
  `sponsor_id` varchar(255) NOT NULL,
  `package_id` int(11) NOT NULL,
  `amount` float NOT NULL DEFAULT '0',
  `invest_date` date DEFAULT NULL,
  `day` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COMMENT='All investment and primary investor and referrar information will be stored here.';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `investment`
--

LOCK TABLES `investment` WRITE;
/*!40000 ALTER TABLE `investment` DISABLE KEYS */;
/*!40000 ALTER TABLE `investment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `language`
--

DROP TABLE IF EXISTS `language`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `language` (
  `id` int(11) unsigned NOT NULL,
  `phrase` text NOT NULL,
  `english` text,
  `french` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `language`
--

LOCK TABLES `language` WRITE;
/*!40000 ALTER TABLE `language` DISABLE KEYS */;
/*!40000 ALTER TABLE `language` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `local_currency`
--

DROP TABLE IF EXISTS `local_currency`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `local_currency` (
  `currency_id` int(11) NOT NULL,
  `currency_name` varchar(100) NOT NULL,
  `currency_iso_code` varchar(10) NOT NULL,
  `usd_exchange_rate` varchar(100) NOT NULL,
  `currency_symbol` varchar(10) NOT NULL,
  `currency_position` varchar(10) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `local_currency`
--

LOCK TABLES `local_currency` WRITE;
/*!40000 ALTER TABLE `local_currency` DISABLE KEYS */;
INSERT INTO `local_currency` VALUES (1,'Indian Rupee','INR','64.91','â‚¹','l');
/*!40000 ALTER TABLE `local_currency` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `message`
--

DROP TABLE IF EXISTS `message`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `message` (
  `id` int(11) NOT NULL,
  `sender_id` int(11) NOT NULL,
  `receiver_id` varchar(250) NOT NULL,
  `subject` varchar(255) NOT NULL,
  `message` text NOT NULL,
  `datetime` datetime NOT NULL,
  `sender_status` tinyint(1) NOT NULL DEFAULT '0' COMMENT '0=unseen, 1=seen, 2=delete',
  `receiver_status` tinyint(1) NOT NULL DEFAULT '0' COMMENT '0=unseen, 1=seen, 2=delete'
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `message`
--

LOCK TABLES `message` WRITE;
/*!40000 ALTER TABLE `message` DISABLE KEYS */;
/*!40000 ALTER TABLE `message` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `notification_id` int(11) NOT NULL,
  `user_id` varchar(255) NOT NULL,
  `date` timestamp NULL DEFAULT NULL,
  `notification_type` varchar(45) DEFAULT NULL,
  `subject` varchar(255) DEFAULT NULL,
  `details` mediumtext,
  `status` varchar(4) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COMMENT='SMS and Email notified data will be stored in this table.';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `package`
--

DROP TABLE IF EXISTS `package`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `package` (
  `package_id` int(11) NOT NULL,
  `package_name` varchar(255) NOT NULL,
  `period` varchar(250) DEFAULT NULL,
  `commission_ret` varchar(250) DEFAULT NULL,
  `package_deatils` mediumtext,
  `package_amount` float NOT NULL,
  `weekly_roi` float NOT NULL,
  `monthly_roi` float NOT NULL,
  `yearly_roi` float NOT NULL,
  `daily_roi` float DEFAULT NULL,
  `total_percent` varchar(45) DEFAULT NULL,
  `status` tinyint(1) NOT NULL DEFAULT '1'
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COMMENT='All investment packages will be stored here.';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `package`
--

LOCK TABLES `package` WRITE;
/*!40000 ALTER TABLE `package` DISABLE KEYS */;
/*!40000 ALTER TABLE `package` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payeer_payments`
--

DROP TABLE IF EXISTS `payeer_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payeer_payments` (
  `id` int(11) NOT NULL,
  `m_operation_id` int(11) NOT NULL,
  `m_operation_ps` int(11) NOT NULL,
  `m_operation_date` varchar(100) NOT NULL,
  `m_operation_pay_date` varchar(100) NOT NULL,
  `m_shop` int(11) NOT NULL,
  `m_orderid` varchar(300) NOT NULL,
  `m_amount` varchar(100) NOT NULL,
  `m_curr` varchar(100) NOT NULL,
  `m_desc` varchar(300) NOT NULL,
  `m_status` varchar(100) NOT NULL,
  `m_sign` text NOT NULL,
  `lang` varchar(10) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payeer_payments`
--

LOCK TABLES `payeer_payments` WRITE;
/*!40000 ALTER TABLE `payeer_payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payeer_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_gateway`
--

DROP TABLE IF EXISTS `payment_gateway`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment_gateway` (
  `id` int(11) NOT NULL,
  `identity` varchar(50) NOT NULL,
  `agent` varchar(100) NOT NULL,
  `public_key` varchar(100) NOT NULL,
  `private_key` varchar(100) NOT NULL,
  `shop_id` varchar(100) NOT NULL,
  `secret_key` varchar(100) NOT NULL,
  `status` int(2) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_gateway`
--

LOCK TABLES `payment_gateway` WRITE;
/*!40000 ALTER TABLE `payment_gateway` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_gateway` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_metod_setting`
--

DROP TABLE IF EXISTS `payment_metod_setting`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment_metod_setting` (
  `id` int(11) NOT NULL,
  `user_id` varchar(250) NOT NULL,
  `method` varchar(250) NOT NULL,
  `wallet_id` varchar(250) NOT NULL,
  `status` int(11) NOT NULL DEFAULT '1'
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_metod_setting`
--

LOCK TABLES `payment_metod_setting` WRITE;
/*!40000 ALTER TABLE `payment_metod_setting` DISABLE KEYS */;
INSERT INTO `payment_metod_setting` VALUES (1,'B0TASK','bitcoin','BTC_WALLET_ID',1),(2,'B0TASK','payeer','PAYEER_WALLET',1),(3,'B0TASK','phone','8801710000001',1),(4,'EWTTVX','bitcoin','BTC_WALLET_ID',1),(5,'EWTTVX','payeer','PAYEER_WALLET',1),(6,'EWTTVX','phone','8801710000002',1);
/*!40000 ALTER TABLE `payment_metod_setting` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `security_questions`
--

DROP TABLE IF EXISTS `security_questions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `security_questions` (
  `security_id` int(11) NOT NULL,
  `user_id` varchar(255) DEFAULT NULL,
  `question1` mediumtext,
  `answer1` mediumtext,
  `question2` mediumtext,
  `answer2` mediumtext,
  `question3` mediumtext,
  `answer3` mediumtext
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COMMENT='All security question answer will be stored into this table with md5 format.';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `security_questions`
--

LOCK TABLES `security_questions` WRITE;
/*!40000 ALTER TABLE `security_questions` DISABLE KEYS */;
/*!40000 ALTER TABLE `security_questions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `setting`
--

DROP TABLE IF EXISTS `setting`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `setting` (
  `setting_id` int(11) NOT NULL,
  `title` varchar(255) DEFAULT NULL,
  `description` text,
  `email` varchar(50) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `logo` varchar(255) DEFAULT NULL,
  `logo_web` varchar(255) NOT NULL,
  `favicon` varchar(255) DEFAULT NULL,
  `language` varchar(100) DEFAULT NULL,
  `site_align` varchar(50) DEFAULT NULL,
  `footer_text` varchar(255) DEFAULT NULL,
  `time_zone` varchar(100) DEFAULT NULL,
  `latitude` varchar(100) DEFAULT NULL,
  `office_time` varchar(255) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `setting`
--

LOCK TABLES `setting` WRITE;
/*!40000 ALTER TABLE `setting` DISABLE KEYS */;
INSERT INTO `setting` VALUES (1,'Crypto Currency Treading System','Bangladesh Office <br>98 Green Road, Farmgate, Dhaka- 1215','info@bdtask.com','+88-01817-584639','upload/settings/62d71b33d40903d864fe079a30a17112.png','upload/settings/b3fe68eb87b068c7861d772a7e1bf8ec.png','upload/settings/35f7d3bce41674cd7c787b978eebfb15.png','english','LTR','2018 Â© Copyright bdtask Treading System','Africa/Douala','40.6700, -73.9400','Monday - Friday: <strong>08:00 - 22:00</strong>\r\n<br>Saturday, Sunday: <strong>Closed</strong>');
/*!40000 ALTER TABLE `setting` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `setup_commission`
--

DROP TABLE IF EXISTS `setup_commission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `setup_commission` (
  `level_id` int(3) NOT NULL,
  `level_name` varchar(255) NOT NULL,
  `personal_invest` float NOT NULL,
  `total_invest` float NOT NULL,
  `team_bonous` float NOT NULL,
  `referral_bonous` float NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `setup_commission`
--

LOCK TABLES `setup_commission` WRITE;
/*!40000 ALTER TABLE `setup_commission` DISABLE KEYS */;
INSERT INTO `setup_commission` VALUES (1,'2',10800,36000,1800,2),(2,'1',1500,5000,350,5),(3,'3',54000,180000,7200,1),(4,'4',270000,900000,18000,1),(5,'5',1080000,3600000,36000,2);
/*!40000 ALTER TABLE `setup_commission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sms_email_send_setup`
--

DROP TABLE IF EXISTS `sms_email_send_setup`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sms_email_send_setup` (
  `id` int(11) NOT NULL,
  `method` text NOT NULL,
  `deposit` int(11) DEFAULT NULL,
  `transfer` int(11) DEFAULT NULL,
  `withdraw` int(11) DEFAULT NULL,
  `payout` int(11) DEFAULT NULL,
  `commission` int(11) DEFAULT NULL,
  `team_bonnus` int(11) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sms_email_send_setup`
--

LOCK TABLES `sms_email_send_setup` WRITE;
/*!40000 ALTER TABLE `sms_email_send_setup` DISABLE KEYS */;
INSERT INTO `sms_email_send_setup` VALUES (1,'email',1,1,1,1,1,1),(2,'sms',NULL,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `sms_email_send_setup` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `social_app`
--

DROP TABLE IF EXISTS `social_app`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `social_app` (
  `id` int(11) NOT NULL,
  `agent` varchar(100) NOT NULL,
  `app_id` varchar(300) NOT NULL,
  `app_secret` varchar(300) NOT NULL,
  `api_key` varchar(300) NOT NULL,
  `status` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `social_app`
--

LOCK TABLES `social_app` WRITE;
/*!40000 ALTER TABLE `social_app` DISABLE KEYS */;
INSERT INTO `social_app` VALUES (1,'Facebook','1930717227246512','e5f58059d39075e94a341eccb8e5e744','',1),(2,'Google','348978929215-ohi2nl5hkh14oo42tl4mgpb6pfpsjfkv.apps.googleusercontent.com','IvBozoy9MCHzg3II_DhIBfFl','AIzaSyDfhNJ5ea0kB-BN-Bjn2pI0DHtebElrF6g',1);
/*!40000 ALTER TABLE `social_app` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `team_bonus`
--

DROP TABLE IF EXISTS `team_bonus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `team_bonus` (
  `id` int(11) NOT NULL,
  `user_id` varchar(250) DEFAULT NULL,
  `sponser_commission` varchar(250) DEFAULT '0',
  `team_commission` varchar(250) DEFAULT '0',
  `level` varchar(250) DEFAULT NULL,
  `last_update` datetime DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `team_bonus`
--

LOCK TABLES `team_bonus` WRITE;
/*!40000 ALTER TABLE `team_bonus` DISABLE KEYS */;
/*!40000 ALTER TABLE `team_bonus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `team_bonus_details`
--

DROP TABLE IF EXISTS `team_bonus_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `team_bonus_details` (
  `id` int(11) NOT NULL,
  `user_id` varchar(250) DEFAULT NULL,
  `sponser_commission` varchar(250) DEFAULT '0',
  `team_commission` varchar(250) DEFAULT '0',
  `level` varchar(250) DEFAULT NULL,
  `last_update` datetime DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `team_bonus_details`
--

LOCK TABLES `team_bonus_details` WRITE;
/*!40000 ALTER TABLE `team_bonus_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `team_bonus_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transections`
--

DROP TABLE IF EXISTS `transections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transections` (
  `transection_id` int(11) NOT NULL,
  `user_id` varchar(255) DEFAULT NULL,
  `transection_category` varchar(255) DEFAULT NULL,
  `releted_id` varchar(255) DEFAULT NULL,
  `amount` float DEFAULT NULL,
  `transection_date_timestamp` timestamp NULL DEFAULT NULL,
  `comments` tinytext,
  `status` int(11) NOT NULL DEFAULT '1'
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COMMENT='earnings,wthdraw,transfer and investment data all togther will be kept here.';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transections`
--

LOCK TABLES `transections` WRITE;
/*!40000 ALTER TABLE `transections` DISABLE KEYS */;
/*!40000 ALTER TABLE `transections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transfer`
--

DROP TABLE IF EXISTS `transfer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transfer` (
  `transfer_id` int(11) NOT NULL,
  `sender_user_id` varchar(255) DEFAULT NULL,
  `receiver_user_id` varchar(255) DEFAULT NULL,
  `amount` float DEFAULT NULL,
  `fees` float NOT NULL,
  `request_ip` varchar(45) DEFAULT NULL,
  `date` date DEFAULT NULL,
  `comments` mediumtext,
  `status` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COMMENT='client to client transfer success, request data recorded.';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transfer`
--

LOCK TABLES `transfer` WRITE;
/*!40000 ALTER TABLE `transfer` DISABLE KEYS */;
/*!40000 ALTER TABLE `transfer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_level`
--

DROP TABLE IF EXISTS `user_level`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_level` (
  `id` int(11) NOT NULL,
  `user_id` varchar(255) NOT NULL,
  `level_id` int(11) NOT NULL,
  `achive_date` date NOT NULL,
  `bonus` int(11) DEFAULT NULL,
  `status` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_level`
--

LOCK TABLES `user_level` WRITE;
/*!40000 ALTER TABLE `user_level` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_level` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_registration`
--

DROP TABLE IF EXISTS `user_registration`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_registration` (
  `uid` int(11) NOT NULL,
  `user_id` varchar(255) NOT NULL,
  `username` varchar(20) DEFAULT NULL,
  `sponsor_id` varchar(255) DEFAULT NULL,
  `language` varchar(50) DEFAULT NULL,
  `f_name` varchar(255) DEFAULT NULL,
  `l_name` varchar(255) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `phone` varchar(45) NOT NULL,
  `oauth_provider` varchar(255) NOT NULL,
  `oauth_uid` varchar(255) NOT NULL,
  `gender` varchar(10) NOT NULL,
  `locale` varchar(10) NOT NULL,
  `picture_url` varchar(255) NOT NULL,
  `profile_url` varchar(255) NOT NULL,
  `password` varchar(255) DEFAULT NULL,
  `password_reset_tocken` longtext,
  `reg_ip` varchar(255) DEFAULT NULL,
  `status` tinyint(1) NOT NULL DEFAULT '1',
  `created` datetime NOT NULL,
  `modified` datetime NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='All user information will be stored into this table.';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_registration`
--

LOCK TABLES `user_registration` WRITE;
/*!40000 ALTER TABLE `user_registration` DISABLE KEYS */;
INSERT INTO `user_registration` VALUES (1,'B0TASK','bdtask','0','english','John','Deo','rdmvaijah@gmail.com','8801922296392','website','','','','','','e10adc3949ba59abbe56e057f20f883e',NULL,'162.158.165.248',1,'2017-11-10 15:45:29','0000-00-00 00:00:00');
/*!40000 ALTER TABLE `user_registration` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `verify_tbl`
--

DROP TABLE IF EXISTS `verify_tbl`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `verify_tbl` (
  `id` int(11) NOT NULL,
  `ip_address` varchar(250) DEFAULT NULL,
  `session_id` varchar(250) DEFAULT NULL,
  `verify_code` varchar(250) DEFAULT NULL,
  `user_id` varchar(250) DEFAULT NULL,
  `data` text,
  `status` int(11) NOT NULL DEFAULT '1'
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `verify_tbl`
--

LOCK TABLES `verify_tbl` WRITE;
/*!40000 ALTER TABLE `verify_tbl` DISABLE KEYS */;
/*!40000 ALTER TABLE `verify_tbl` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `web_article`
--

DROP TABLE IF EXISTS `web_article`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `web_article` (
  `article_id` int(11) NOT NULL,
  `slug` varchar(100) DEFAULT NULL,
  `headline_en` varchar(300) NOT NULL,
  `headline_fr` varchar(300) NOT NULL,
  `article_image` varchar(100) DEFAULT NULL,
  `custom_url` varchar(300) NOT NULL,
  `article1_en` longtext NOT NULL,
  `article1_fr` longtext NOT NULL,
  `article2_en` longtext NOT NULL,
  `article2_fr` longtext NOT NULL,
  `video` varchar(300) DEFAULT NULL,
  `cat_id` int(11) DEFAULT NULL,
  `page_content` int(11) DEFAULT '0' COMMENT 'if this is a Page content set 1 else 0',
  `position_serial` int(11) NOT NULL,
  `publish_date` datetime NOT NULL,
  `publish_by` varchar(20) NOT NULL,
  `edit_history` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `web_article`
--

LOCK TABLES `web_article` WRITE;
/*!40000 ALTER TABLE `web_article` DISABLE KEYS */;
/*!40000 ALTER TABLE `web_article` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `web_category`
--

DROP TABLE IF EXISTS `web_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `web_category` (
  `cat_id` int(11) NOT NULL,
  `slug` varchar(100) NOT NULL,
  `cat_name_en` varchar(100) NOT NULL,
  `cat_name_fr` varchar(100) NOT NULL,
  `parent_id` int(11) NOT NULL,
  `cat_image` varchar(300) DEFAULT NULL,
  `cat_title1_en` varchar(100) DEFAULT NULL,
  `cat_title1_fr` varchar(100) DEFAULT NULL,
  `cat_title2_en` varchar(300) DEFAULT NULL,
  `cat_title2_fr` varchar(300) DEFAULT NULL,
  `menu` int(11) NOT NULL COMMENT 'Header menu=1',
  `position_serial` int(11) NOT NULL,
  `status` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `web_category`
--

LOCK TABLES `web_category` WRITE;
/*!40000 ALTER TABLE `web_category` DISABLE KEYS */;
/*!40000 ALTER TABLE `web_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `web_language`
--

DROP TABLE IF EXISTS `web_language`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `web_language` (
  `id` int(11) unsigned NOT NULL,
  `name` varchar(256) DEFAULT NULL,
  `flag` varchar(256) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `web_language`
--

LOCK TABLES `web_language` WRITE;
/*!40000 ALTER TABLE `web_language` DISABLE KEYS */;
INSERT INTO `web_language` VALUES (1,'FranÃ§ais','fr');
/*!40000 ALTER TABLE `web_language` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `web_news`
--

DROP TABLE IF EXISTS `web_news`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `web_news` (
  `article_id` int(11) NOT NULL,
  `slug` varchar(100) DEFAULT NULL,
  `headline_en` varchar(300) NOT NULL,
  `headline_fr` varchar(300) NOT NULL,
  `article_image` varchar(100) DEFAULT NULL,
  `custom_url` varchar(300) NOT NULL,
  `article1_en` longtext NOT NULL,
  `article1_fr` longtext NOT NULL,
  `article2_en` longtext NOT NULL,
  `article2_fr` longtext NOT NULL,
  `cat_id` int(11) DEFAULT NULL,
  `parent_id` int(11) DEFAULT NULL,
  `position_serial` int(11) NOT NULL,
  `publish_date` datetime NOT NULL,
  `publish_by` varchar(20) NOT NULL,
  `edit_history` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `web_news`
--

LOCK TABLES `web_news` WRITE;
/*!40000 ALTER TABLE `web_news` DISABLE KEYS */;
/*!40000 ALTER TABLE `web_news` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `web_slider`
--

DROP TABLE IF EXISTS `web_slider`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `web_slider` (
  `slider_id` int(11) NOT NULL,
  `slider_h1_en` varchar(900) DEFAULT NULL,
  `slider_h1_fr` varchar(900) DEFAULT NULL,
  `slider_h2_en` varchar(900) DEFAULT NULL,
  `slider_h2_fr` varchar(900) DEFAULT NULL,
  `slider_h3_en` varchar(900) DEFAULT NULL,
  `slider_h3_fr` varchar(900) DEFAULT NULL,
  `slider_img` varchar(300) DEFAULT NULL,
  `custom_url` varchar(300) NOT NULL,
  `status` int(11) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `web_slider`
--

LOCK TABLES `web_slider` WRITE;
/*!40000 ALTER TABLE `web_slider` DISABLE KEYS */;
/*!40000 ALTER TABLE `web_slider` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `web_social_link`
--

DROP TABLE IF EXISTS `web_social_link`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `web_social_link` (
  `id` int(11) NOT NULL,
  `name` varchar(100) NOT NULL,
  `link` varchar(100) NOT NULL,
  `icon` varchar(100) NOT NULL,
  `status` int(11) NOT NULL,
  `date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `web_social_link`
--

LOCK TABLES `web_social_link` WRITE;
/*!40000 ALTER TABLE `web_social_link` DISABLE KEYS */;
INSERT INTO `web_social_link` VALUES (1,'Facebook','https://www.facebook.com','facebook',1,'2018-04-02 13:52:31'),(2,'twitter','https://twitter.com','twitter',1,'2018-04-02 13:29:25'),(3,'google plus','https://google-plus.com','google-plus',1,'2018-02-01 07:58:56'),(4,'youtube','https://www.youtube.com','youtube-play',1,'2018-04-02 13:28:49'),(5,'instagram','https://instagram.com','instagram',1,'2018-02-01 07:58:56');
/*!40000 ALTER TABLE `web_social_link` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `web_subscriber`
--

DROP TABLE IF EXISTS `web_subscriber`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `web_subscriber` (
  `sub_id` int(11) NOT NULL,
  `email` varchar(100) NOT NULL,
  `status` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `web_subscriber`
--

LOCK TABLES `web_subscriber` WRITE;
/*!40000 ALTER TABLE `web_subscriber` DISABLE KEYS */;
/*!40000 ALTER TABLE `web_subscriber` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `withdraw`
--

DROP TABLE IF EXISTS `withdraw`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `withdraw` (
  `withdraw_id` int(11) NOT NULL,
  `user_id` varchar(255) NOT NULL,
  `walletid` varchar(250) NOT NULL,
  `method` varchar(100) NOT NULL,
  `charge` float DEFAULT '0',
  `amount` float DEFAULT '0',
  `fees` float NOT NULL,
  `request_date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `success_date` date DEFAULT NULL,
  `cancel_date` date DEFAULT NULL,
  `request_ip` varchar(45) DEFAULT NULL,
  `comments` mediumtext,
  `status` tinyint(1) NOT NULL DEFAULT '1' COMMENT '1=request, 2=success, 3=cancel'
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COMMENT='withdraw request and execution information keeps into this table.';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `withdraw`
--

LOCK TABLES `withdraw` WRITE;
/*!40000 ALTER TABLE `withdraw` DISABLE KEYS */;
/*!40000 ALTER TABLE `withdraw` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2020-10-06 22:04:11
