-- MySQL dump 10.13  Distrib 8.0.18, for Win64 (x86_64)
--
-- Host: localhost    Database: datelinedb
-- ------------------------------------------------------
-- Server version	8.0.18

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activity`
--

DROP TABLE IF EXISTS `activity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `activity` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `a_type` varchar(255) NOT NULL,
  `uid` int(11) DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `message` varchar(5000) DEFAULT NULL,
  `time` varchar(25) DEFAULT NULL,
  `view` int(1) DEFAULT '0',
  `content` varchar(200) DEFAULT NULL,
  `mobile` int(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `USER` (`uid`),
  KEY `USERFILTER` (`a_type`,`uid`),
  KEY `TYPE` (`a_type`),
  KEY `ORDER` (`time`),
  KEY `MOBILE` (`mobile`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity`
--

LOCK TABLES `activity` WRITE;
/*!40000 ALTER TABLE `activity` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `app_lang`
--

DROP TABLE IF EXISTS `app_lang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_lang` (
  `id` int(9) NOT NULL,
  `lang_id` int(9) NOT NULL DEFAULT '1',
  `text` text NOT NULL,
  PRIMARY KEY (`id`,`lang_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_lang`
--

LOCK TABLES `app_lang` WRITE;
/*!40000 ALTER TABLE `app_lang` DISABLE KEYS */;
/*!40000 ALTER TABLE `app_lang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `blocked_ips`
--

DROP TABLE IF EXISTS `blocked_ips`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `blocked_ips` (
  `id` bigint(20) DEFAULT NULL,
  `ip` varchar(255) NOT NULL,
  `banned_date` varchar(30) DEFAULT NULL,
  `banned_by` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`ip`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `blocked_ips`
--

LOCK TABLES `blocked_ips` WRITE;
/*!40000 ALTER TABLE `blocked_ips` DISABLE KEYS */;
/*!40000 ALTER TABLE `blocked_ips` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `blocked_photos`
--

DROP TABLE IF EXISTS `blocked_photos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `blocked_photos` (
  `id` int(9) NOT NULL AUTO_INCREMENT,
  `u1` int(9) NOT NULL,
  `u2` int(9) NOT NULL,
  PRIMARY KEY (`id`,`u1`,`u2`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `blocked_photos`
--

LOCK TABLES `blocked_photos` WRITE;
/*!40000 ALTER TABLE `blocked_photos` DISABLE KEYS */;
/*!40000 ALTER TABLE `blocked_photos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `blocked_users`
--

DROP TABLE IF EXISTS `blocked_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `blocked_users` (
  `id` bigint(20) DEFAULT NULL,
  `email` varchar(50) NOT NULL,
  `banned_date` varchar(30) DEFAULT NULL,
  `banned_by` varchar(255) DEFAULT NULL,
  `ip` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `blocked_users`
--

LOCK TABLES `blocked_users` WRITE;
/*!40000 ALTER TABLE `blocked_users` DISABLE KEYS */;
/*!40000 ALTER TABLE `blocked_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat`
--

DROP TABLE IF EXISTS `chat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat` (
  `id` int(9) NOT NULL AUTO_INCREMENT,
  `s_id` int(9) NOT NULL,
  `r_id` int(9) NOT NULL,
  `message` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `time` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
  `seen` int(1) NOT NULL DEFAULT '0',
  `notification` int(1) NOT NULL DEFAULT '0',
  `photo` int(1) NOT NULL DEFAULT '0',
  `access` int(1) NOT NULL DEFAULT '0',
  `fake` int(1) DEFAULT '0',
  `online_day` int(1) DEFAULT '0',
  `story` int(11) DEFAULT '0',
  `credits` int(11) DEFAULT '0',
  `gif` int(1) DEFAULT '0',
  `gift` int(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `SID` (`s_id`) USING BTREE,
  KEY `RID` (`r_id`) USING BTREE,
  KEY `USERS` (`s_id`,`r_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat`
--

LOCK TABLES `chat` WRITE;
/*!40000 ALTER TABLE `chat` DISABLE KEYS */;
/*!40000 ALTER TABLE `chat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `client`
--

DROP TABLE IF EXISTS `client`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `client` (
  `client` longtext
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `client`
--

LOCK TABLES `client` WRITE;
/*!40000 ALTER TABLE `client` DISABLE KEYS */;
INSERT INTO `client` VALUES ('');
/*!40000 ALTER TABLE `client` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `config`
--

DROP TABLE IF EXISTS `config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `config` (
  `name` varchar(200) NOT NULL,
  `title` varchar(500) NOT NULL,
  `description` varchar(800) NOT NULL,
  `keywords` varchar(200) NOT NULL,
  `lang` varchar(100) NOT NULL,
  `videocall` varchar(100) NOT NULL,
  `fb_app_id` varchar(300) NOT NULL,
  `fb_app_secret` varchar(300) NOT NULL,
  `theme` varchar(200) NOT NULL,
  `logo` varchar(400) NOT NULL,
  `ads` text NOT NULL,
  `photo_review` int(1) DEFAULT '0',
  `paypal` varchar(100) DEFAULT NULL,
  `paygol` varchar(100) DEFAULT NULL,
  `currency` varchar(20) DEFAULT NULL,
  `ads2` text,
  `email` varchar(100) DEFAULT NULL,
  `terms` longtext,
  `privacy` longtext,
  `theme_mobile` varchar(100) DEFAULT NULL,
  `theme_landing` varchar(100) DEFAULT NULL,
  `theme_email` varchar(100) DEFAULT NULL,
  `email_verification` int(1) DEFAULT '0',
  `free_credits` int(9) DEFAULT '0',
  `free_premium` int(9) DEFAULT '0',
  `s3` varchar(200) DEFAULT NULL,
  `s3_key` varchar(200) DEFAULT NULL,
  `stripe_pub` varchar(200) DEFAULT NULL,
  `stripe_secret` varchar(200) DEFAULT NULL,
  `fortumo_service` varchar(200) DEFAULT NULL,
  `fortumo_secret` varchar(200) DEFAULT NULL,
  `twitter_key` varchar(200) DEFAULT NULL,
  `twitter_secret` varchar(200) DEFAULT NULL,
  `instagram_key` varchar(200) DEFAULT NULL,
  `instagram_secret` varchar(200) DEFAULT NULL,
  `google_key` varchar(200) DEFAULT NULL,
  `google_secret` varchar(200) DEFAULT NULL,
  `s3_bucket` varchar(200) DEFAULT NULL,
  `css` longtext,
  `js` longtext,
  `google_maps` varchar(200) DEFAULT NULL,
  `version` varchar(200) DEFAULT NULL,
  `logo_landing` varchar(200) DEFAULT NULL,
  `main_color` varchar(200) DEFAULT NULL,
  `visit_back` int(3) DEFAULT '7',
  `like_back` int(3) DEFAULT '1',
  `client` varchar(200) DEFAULT NULL,
  `fAI` varchar(255) DEFAULT NULL,
  `fapi` varchar(255) DEFAULT NULL,
  `fcountry` varchar(255) DEFAULT NULL,
  `pusher_id` varchar(200) DEFAULT '0',
  `mobile_site` varchar(200) DEFAULT '',
  `popular_user` int(11) DEFAULT NULL,
  `pusher_key` varchar(200) DEFAULT NULL,
  `pusher_secret` varchar(200) DEFAULT NULL,
  `app_ios` varchar(200) DEFAULT NULL,
  `app_android` varchar(200) DEFAULT NULL,
  `wm` longtext,
  `fapiKey` varchar(200) DEFAULT NULL,
  `ads3` text,
  `fAiChance` int(3) DEFAULT NULL,
  `dc` varchar(100) DEFAULT NULL,
  `fEngage` varchar(199) DEFAULT NULL,
  `fEngageTime` int(11) DEFAULT NULL,
  `fEngageLimit` int(11) DEFAULT NULL,
  `pusher_clauster` varchar(20) DEFAULT NULL,
  `wEnabled` int(1) DEFAULT '0',
  `wTime` int(3) DEFAULT '15',
  PRIMARY KEY (`name`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `config`
--

LOCK TABLES `config` WRITE;
/*!40000 ALTER TABLE `config` DISABLE KEYS */;
/*!40000 ALTER TABLE `config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `config_accounts`
--

DROP TABLE IF EXISTS `config_accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `config_accounts` (
  `type` int(1) NOT NULL,
  `chat` int(9) NOT NULL,
  `videocall` int(1) NOT NULL,
  `private` int(1) NOT NULL,
  `visits` int(1) DEFAULT NULL,
  `fans` int(1) DEFAULT NULL,
  `mobile_ads` int(1) DEFAULT NULL,
  `likes` int(5) DEFAULT NULL,
  `slikes` int(5) DEFAULT NULL,
  PRIMARY KEY (`type`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `config_accounts`
--

LOCK TABLES `config_accounts` WRITE;
/*!40000 ALTER TABLE `config_accounts` DISABLE KEYS */;
INSERT INTO `config_accounts` VALUES (1,3,1,0,0,0,1,50,1),(2,50,1,1,1,1,0,5000,10);
/*!40000 ALTER TABLE `config_accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `config_app`
--

DROP TABLE IF EXISTS `config_app`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `config_app` (
  `first_color` varchar(200) DEFAULT NULL,
  `second_color` varchar(200) DEFAULT NULL,
  `logo_login` varchar(200) DEFAULT NULL,
  `logo` varchar(200) DEFAULT NULL,
  `ads` longtext,
  `ads2` longtext
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `config_app`
--

LOCK TABLES `config_app` WRITE;
/*!40000 ALTER TABLE `config_app` DISABLE KEYS */;
INSERT INTO `config_app` VALUES ('','','mobile/logo_login.png','mobile/logo_login.png',NULL,NULL);
/*!40000 ALTER TABLE `config_app` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `config_credits`
--

DROP TABLE IF EXISTS `config_credits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `config_credits` (
  `id` int(9) NOT NULL AUTO_INCREMENT,
  `credits` int(9) NOT NULL,
  `price` varchar(20) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=7 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `config_credits`
--

LOCK TABLES `config_credits` WRITE;
/*!40000 ALTER TABLE `config_credits` DISABLE KEYS */;
INSERT INTO `config_credits` VALUES (1,1000,'4.99'),(2,2500,'9.99'),(3,5000,'14.99');
/*!40000 ALTER TABLE `config_credits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `config_email`
--

DROP TABLE IF EXISTS `config_email`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `config_email` (
  `host` varchar(100) NOT NULL DEFAULT '',
  `port` int(9) DEFAULT NULL,
  `user` varchar(200) DEFAULT NULL,
  `password` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`host`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `config_email`
--

LOCK TABLES `config_email` WRITE;
/*!40000 ALTER TABLE `config_email` DISABLE KEYS */;
INSERT INTO `config_email` VALUES ('',NULL,NULL,NULL);
/*!40000 ALTER TABLE `config_email` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `config_genders`
--

DROP TABLE IF EXISTS `config_genders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `config_genders` (
  `id` int(11) NOT NULL,
  `name` varchar(200) DEFAULT NULL,
  `lang_id` int(2) NOT NULL,
  `sex` int(1) DEFAULT NULL,
  PRIMARY KEY (`id`,`lang_id`)
) ENGINE=MyISAM AUTO_INCREMENT=6 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `config_genders`
--

LOCK TABLES `config_genders` WRITE;
/*!40000 ALTER TABLE `config_genders` DISABLE KEYS */;
INSERT INTO `config_genders` VALUES (1,'Male',1,1),(2,'Female',1,2),(3,'Lesiban',1,2),(4,'Gay',1,1);
/*!40000 ALTER TABLE `config_genders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `config_premium`
--

DROP TABLE IF EXISTS `config_premium`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `config_premium` (
  `id` int(9) NOT NULL AUTO_INCREMENT,
  `days` int(9) NOT NULL,
  `price` int(9) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `config_premium`
--

LOCK TABLES `config_premium` WRITE;
/*!40000 ALTER TABLE `config_premium` DISABLE KEYS */;
INSERT INTO `config_premium` VALUES (1,20,15),(2,50,25),(3,90,35);
/*!40000 ALTER TABLE `config_premium` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `config_prices`
--

DROP TABLE IF EXISTS `config_prices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `config_prices` (
  `feature` varchar(50) NOT NULL,
  `price` int(11) NOT NULL,
  `info` longtext,
  `visible` int(1) DEFAULT '1',
  PRIMARY KEY (`feature`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `config_prices`
--

LOCK TABLES `config_prices` WRITE;
/*!40000 ALTER TABLE `config_prices` DISABLE KEYS */;
INSERT INTO `config_prices` VALUES ('private',200,NULL,0),('spotlight',200,'Price in credits for add profile to the spotlight',1),('chat',250,'Price in credits for reset the daily conversation limit',1),('boost',150,'Price in credits for boost and show it more in the discover and search section',1),('first',150,'Price in credits for boost the porfile to the top and show it first in the search section',1),('discover',200,'Price in credits for boost the porfile to the top and show it first in the discover section',1);
/*!40000 ALTER TABLE `config_prices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `config_profile_answers`
--

DROP TABLE IF EXISTS `config_profile_answers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `config_profile_answers` (
  `id` int(11) NOT NULL,
  `qid` int(11) NOT NULL,
  `answer` text NOT NULL,
  `lang_id` int(11) NOT NULL,
  PRIMARY KEY (`id`,`qid`,`lang_id`),
  UNIQUE KEY `KEY` (`id`,`qid`,`lang_id`) USING BTREE
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `config_profile_answers`
--

LOCK TABLES `config_profile_answers` WRITE;
/*!40000 ALTER TABLE `config_profile_answers` DISABLE KEYS */;
INSERT INTO `config_profile_answers` VALUES (1,2,'Gay',1),(2,1,'Taken',1),(1,1,'Single',1),(2,2,'Open-Minded',1),(3,2,'Straight',1),(4,2,'Bisexual',1),(1,5,'Asian',1),(2,5,'Black',1),(3,5,'White',1),(4,5,'Native American',1),(5,5,'Hispanic / Latin',1),(6,5,'Indian',1),(1,6,'Slim',1),(1,7,'Alone',1),(2,7,'With parents',1),(3,7,'With partner',1),(4,7,'Student house',1),(2,6,'Athletic',1),(3,6,'Curvy',1),(4,6,'Heavy',1),(1,8,'Yes',1),(2,8,'No',1);
/*!40000 ALTER TABLE `config_profile_answers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `config_profile_questions`
--

DROP TABLE IF EXISTS `config_profile_questions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `config_profile_questions` (
  `id` int(11) NOT NULL,
  `question` varchar(200) DEFAULT NULL,
  `lang_id` int(11) NOT NULL,
  `method` varchar(200) DEFAULT NULL,
  `q_order` int(11) DEFAULT '0',
  `gender` int(3) DEFAULT '0',
  PRIMARY KEY (`id`,`lang_id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `config_profile_questions`
--

LOCK TABLES `config_profile_questions` WRITE;
/*!40000 ALTER TABLE `config_profile_questions` DISABLE KEYS */;
INSERT INTO `config_profile_questions` VALUES (1,'Relationship:',1,'select',2,0),(2,'Sexuality:',1,'select',3,0),(5,'Ethnicity:',1,'select',4,0),(6,'Body Type:',1,'select',5,0),(7,'Living:',1,'select',6,0),(8,'Smoke:',1,'select',2,0);
/*!40000 ALTER TABLE `config_profile_questions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `config_themes`
--

DROP TABLE IF EXISTS `config_themes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `config_themes` (
  `id` int(9) NOT NULL AUTO_INCREMENT,
  `type` int(1) DEFAULT NULL,
  `folder` varchar(200) DEFAULT NULL,
  `name` varchar(200) DEFAULT NULL,
  `screenshot` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=12 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `config_themes`
--

LOCK TABLES `config_themes` WRITE;
/*!40000 ALTER TABLE `config_themes` DISABLE KEYS */;
INSERT INTO `config_themes` VALUES (1,1,'default','Default','themes/default/images/default.jpg'),(4,2,'landing1','Landing 1','https://premiumdatingscript.com/belloo/landings/landing1.jpg'),(5,3,'mobile','Mobile default','mobile/mobile.jpg');
/*!40000 ALTER TABLE `config_themes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `config_withdraw`
--

DROP TABLE IF EXISTS `config_withdraw`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `config_withdraw` (
  `id` int(9) NOT NULL AUTO_INCREMENT,
  `credits` int(9) NOT NULL,
  `price` varchar(20) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=11 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `config_withdraw`
--

LOCK TABLES `config_withdraw` WRITE;
/*!40000 ALTER TABLE `config_withdraw` DISABLE KEYS */;
INSERT INTO `config_withdraw` VALUES (1,10000,'50'),(2,20000,'90'),(3,30000,'215'),(4,40000,'285');
/*!40000 ALTER TABLE `config_withdraw` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cron`
--

DROP TABLE IF EXISTS `cron`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cron` (
  `cron` varchar(255) NOT NULL,
  `cron_action` varchar(255) NOT NULL,
  `cron_data` longtext,
  `cron_run` int(11) DEFAULT NULL,
  `cron_last_run` int(11) DEFAULT NULL,
  `cron_day` varchar(11) DEFAULT NULL,
  PRIMARY KEY (`cron`,`cron_action`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cron`
--

LOCK TABLES `cron` WRITE;
/*!40000 ALTER TABLE `cron` DISABLE KEYS */;
INSERT INTO `cron` VALUES ('instagram','getStories',NULL,3600,NULL,NULL),('onlineDay','onlineDay',NULL,86400,0,NULL),('cron','cron',NULL,3600,0,NULL);
/*!40000 ALTER TABLE `cron` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `email_lang`
--

DROP TABLE IF EXISTS `email_lang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `email_lang` (
  `id` int(9) NOT NULL,
  `lang_id` int(9) NOT NULL DEFAULT '1',
  `text` text NOT NULL,
  `theme_id` int(9) DEFAULT NULL,
  PRIMARY KEY (`id`,`lang_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `email_lang`
--

LOCK TABLES `email_lang` WRITE;
/*!40000 ALTER TABLE `email_lang` DISABLE KEYS */;
/*!40000 ALTER TABLE `email_lang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `emails`
--

DROP TABLE IF EXISTS `emails`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `emails` (
  `id` int(9) NOT NULL AUTO_INCREMENT,
  `type` int(1) DEFAULT NULL,
  `uid` int(9) DEFAULT NULL,
  `code` varchar(300) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=198 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `emails`
--

LOCK TABLES `emails` WRITE;
/*!40000 ALTER TABLE `emails` DISABLE KEYS */;
/*!40000 ALTER TABLE `emails` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gifts`
--

DROP TABLE IF EXISTS `gifts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gifts` (
  `id` int(9) NOT NULL AUTO_INCREMENT,
  `gift` varchar(50) NOT NULL,
  `price` int(5) NOT NULL DEFAULT '0',
  `icon` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `KEY` (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=40 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gifts`
--

LOCK TABLES `gifts` WRITE;
/*!40000 ALTER TABLE `gifts` DISABLE KEYS */;
/*!40000 ALTER TABLE `gifts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `interest`
--

DROP TABLE IF EXISTS `interest`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `interest` (
  `id` int(9) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `icon` varchar(255) DEFAULT '',
  `count` int(9) DEFAULT '1',
  PRIMARY KEY (`id`),
  UNIQUE KEY `KEY` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `interest`
--

LOCK TABLES `interest` WRITE;
/*!40000 ALTER TABLE `interest` DISABLE KEYS */;
/*!40000 ALTER TABLE `interest` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `landing_lang`
--

DROP TABLE IF EXISTS `landing_lang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `landing_lang` (
  `id` int(9) NOT NULL,
  `lang_id` int(9) NOT NULL DEFAULT '1',
  `theme` varchar(55) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
  `preset` varchar(99) NOT NULL,
  `text` text,
  `page` varchar(55) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  PRIMARY KEY (`id`,`lang_id`,`theme`,`preset`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `landing_lang`
--

LOCK TABLES `landing_lang` WRITE;
/*!40000 ALTER TABLE `landing_lang` DISABLE KEYS */;
/*!40000 ALTER TABLE `landing_lang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `languages`
--

DROP TABLE IF EXISTS `languages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `languages` (
  `id` int(9) NOT NULL AUTO_INCREMENT,
  `prefix` varchar(5) NOT NULL,
  `name` varchar(100) NOT NULL,
  `visible` int(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=88 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `languages`
--

LOCK TABLES `languages` WRITE;
/*!40000 ALTER TABLE `languages` DISABLE KEYS */;
INSERT INTO `languages` VALUES (1,'en','English',1);
/*!40000 ALTER TABLE `languages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `moderation_list`
--

DROP TABLE IF EXISTS `moderation_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `moderation_list` (
  `moderation` varchar(255) NOT NULL,
  `title` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`moderation`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `moderation_list`
--

LOCK TABLES `moderation_list` WRITE;
/*!40000 ALTER TABLE `moderation_list` DISABLE KEYS */;
INSERT INTO `moderation_list` VALUES ('Users','Manage Users'),('Media','Manage Media'),('Reports','Manage Users Reports'),('Verification','Manage Users Verifications'),('Editor','Access to Theme Editor'),('ChatFake','Acces to Chat'),('Language','Access to Languages'),('Plugins','Access to plugins and its configurations');
/*!40000 ALTER TABLE `moderation_list` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `moderators`
--

DROP TABLE IF EXISTS `moderators`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `moderators` (
  `id` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `moderators`
--

LOCK TABLES `moderators` WRITE;
/*!40000 ALTER TABLE `moderators` DISABLE KEYS */;
INSERT INTO `moderators` VALUES ('Chat Moderator'),('Editor Moderator'),('Global Moderator'),('Media Moderator'),('User Moderator');
/*!40000 ALTER TABLE `moderators` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `moderators_permission`
--

DROP TABLE IF EXISTS `moderators_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `moderators_permission` (
  `id` varchar(200) NOT NULL,
  `setting` varchar(200) NOT NULL,
  `setting_val` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`,`setting`),
  UNIQUE KEY `KEY` (`id`,`setting`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `moderators_permission`
--

LOCK TABLES `moderators_permission` WRITE;
/*!40000 ALTER TABLE `moderators_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `moderators_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `photos`
--

DROP TABLE IF EXISTS `photos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `photos` (
  `id` int(9) NOT NULL AUTO_INCREMENT,
  `pid` int(9) NOT NULL,
  `cid` int(9) NOT NULL,
  `comment` text NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=167 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `photos`
--

LOCK TABLES `photos` WRITE;
/*!40000 ALTER TABLE `photos` DISABLE KEYS */;
/*!40000 ALTER TABLE `photos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `photos_likes`
--

DROP TABLE IF EXISTS `photos_likes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `photos_likes` (
  `id` int(9) NOT NULL,
  `pid` int(9) NOT NULL,
  `uid` int(9) NOT NULL,
  `name` varchar(100) NOT NULL,
  PRIMARY KEY (`uid`,`pid`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `photos_likes`
--

LOCK TABLES `photos_likes` WRITE;
/*!40000 ALTER TABLE `photos_likes` DISABLE KEYS */;
/*!40000 ALTER TABLE `photos_likes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plugins`
--

DROP TABLE IF EXISTS `plugins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `plugins` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(200) NOT NULL,
  `category` varchar(255) DEFAULT NULL,
  `core_file` varchar(200) DEFAULT NULL,
  `css_file` varchar(200) DEFAULT NULL,
  `js_file` varchar(200) DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `info` longtext,
  `settings` int(1) DEFAULT '0',
  `premium` int(1) DEFAULT '0',
  `orden` int(5) DEFAULT '0',
  `author` varchar(255) DEFAULT NULL,
  `custom_url` int(1) DEFAULT '0',
  `tutorial` int(1) DEFAULT '0',
  `enabled` int(1) DEFAULT '1',
  `categoryOrden` int(3) DEFAULT '0',
  `visible` int(1) DEFAULT '1',
  `custom_url_link` varchar(255) DEFAULT NULL,
  `beta` int(1) DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=58 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plugins`
--

LOCK TABLES `plugins` WRITE;
/*!40000 ALTER TABLE `plugins` DISABLE KEYS */;
/*!40000 ALTER TABLE `plugins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plugins_blocks`
--

DROP TABLE IF EXISTS `plugins_blocks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `plugins_blocks` (
  `plugin` varchar(255) DEFAULT NULL,
  `block` varchar(255) DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `info` longtext,
  `orden` int(3) DEFAULT '0',
  `type` int(1) DEFAULT '1'
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plugins_blocks`
--

LOCK TABLES `plugins_blocks` WRITE;
/*!40000 ALTER TABLE `plugins_blocks` DISABLE KEYS */;
/*!40000 ALTER TABLE `plugins_blocks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plugins_settings`
--

DROP TABLE IF EXISTS `plugins_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `plugins_settings` (
  `plugin` varchar(255) NOT NULL,
  `setting` varchar(200) NOT NULL,
  `setting_val` longtext,
  `title` text,
  `info` text,
  `label` varchar(255) DEFAULT NULL,
  `block` varchar(255) DEFAULT NULL,
  `setting_type` varchar(255) DEFAULT NULL,
  `setting_options` varchar(255) DEFAULT NULL,
  `orden` int(3) DEFAULT '0',
  `docs` int(1) DEFAULT '0',
  `premium` int(1) DEFAULT '0',
  PRIMARY KEY (`plugin`,`setting`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plugins_settings`
--

LOCK TABLES `plugins_settings` WRITE;
/*!40000 ALTER TABLE `plugins_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `plugins_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plugins_settings_values`
--

DROP TABLE IF EXISTS `plugins_settings_values`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `plugins_settings_values` (
  `plugin` varchar(255) NOT NULL,
  `setting` varchar(255) NOT NULL,
  `setting_val` longtext,
  PRIMARY KEY (`plugin`,`setting`),
  UNIQUE KEY `KEY` (`plugin`,`setting`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plugins_settings_values`
--

LOCK TABLES `plugins_settings_values` WRITE;
/*!40000 ALTER TABLE `plugins_settings_values` DISABLE KEYS */;
/*!40000 ALTER TABLE `plugins_settings_values` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reports`
--

DROP TABLE IF EXISTS `reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reports` (
  `id` int(9) NOT NULL AUTO_INCREMENT,
  `reported` int(9) DEFAULT NULL,
  `reported_by` int(9) DEFAULT NULL,
  `reason` varchar(255) CHARACTER SET latin1 COLLATE latin1_general_ci DEFAULT NULL,
  `reported_date` varchar(25) CHARACTER SET latin1 COLLATE latin1_general_ci DEFAULT NULL,
  `viewed` int(1) DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=3 DEFAULT CHARSET=latin1 COLLATE=latin1_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reports`
--

LOCK TABLES `reports` WRITE;
/*!40000 ALTER TABLE `reports` DISABLE KEYS */;
/*!40000 ALTER TABLE `reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sales`
--

DROP TABLE IF EXISTS `sales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sales` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `u_id` int(11) DEFAULT NULL,
  `amount` varchar(12) DEFAULT NULL,
  `gateway` varchar(255) DEFAULT NULL,
  `action` varchar(255) DEFAULT NULL,
  `time` varchar(25) DEFAULT NULL,
  `type` varchar(255) DEFAULT NULL,
  `quantity` int(11) DEFAULT NULL,
  `saledate` varchar(25) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sales`
--

LOCK TABLES `sales` WRITE;
/*!40000 ALTER TABLE `sales` DISABLE KEYS */;
/*!40000 ALTER TABLE `sales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seo_lang`
--

DROP TABLE IF EXISTS `seo_lang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `seo_lang` (
  `id` int(9) NOT NULL,
  `lang_id` int(9) NOT NULL DEFAULT '1',
  `theme` varchar(50) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `text` text,
  `page` varchar(50) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
  PRIMARY KEY (`id`,`lang_id`,`page`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seo_lang`
--

LOCK TABLES `seo_lang` WRITE;
/*!40000 ALTER TABLE `seo_lang` DISABLE KEYS */;
/*!40000 ALTER TABLE `seo_lang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `settings` (
  `setting` varchar(255) NOT NULL,
  `setting_val` varchar(255) DEFAULT NULL,
  `category` varchar(255) DEFAULT NULL,
  `orden` int(3) DEFAULT '0',
  `title` varchar(255) DEFAULT NULL,
  `info` longtext,
  PRIMARY KEY (`setting`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `site_lang`
--

DROP TABLE IF EXISTS `site_lang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `site_lang` (
  `id` int(9) NOT NULL,
  `lang_id` int(9) NOT NULL DEFAULT '1',
  `theme` varchar(25) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `text` text,
  `page` varchar(25) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  PRIMARY KEY (`id`,`lang_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `site_lang`
--

LOCK TABLES `site_lang` WRITE;
/*!40000 ALTER TABLE `site_lang` DISABLE KEYS */;
/*!40000 ALTER TABLE `site_lang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `spotlight`
--

DROP TABLE IF EXISTS `spotlight`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `spotlight` (
  `u_id` int(9) NOT NULL,
  `time` varchar(100) NOT NULL,
  `lat` varchar(100) NOT NULL,
  `lng` varchar(100) NOT NULL,
  `photo` varchar(300) NOT NULL,
  `lang` int(3) NOT NULL,
  `country` varchar(255) NOT NULL,
  `city` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`u_id`,`photo`),
  UNIQUE KEY `KEY` (`photo`) USING BTREE
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `spotlight`
--

LOCK TABLES `spotlight` WRITE;
/*!40000 ALTER TABLE `spotlight` DISABLE KEYS */;
/*!40000 ALTER TABLE `spotlight` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `theme_preset`
--

DROP TABLE IF EXISTS `theme_preset`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `theme_preset` (
  `preset` varchar(255) NOT NULL,
  `preset_alias` varchar(255) DEFAULT NULL,
  `preset_base` varchar(255) DEFAULT NULL,
  `theme` varchar(255) DEFAULT NULL,
  `theme_settings` longtext,
  `author` varchar(255) DEFAULT NULL,
  `theme_modification` varchar(255) DEFAULT NULL,
  `official` int(1) DEFAULT '0',
  `landing` int(1) DEFAULT '0',
  PRIMARY KEY (`preset`),
  UNIQUE KEY `KEY` (`preset`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `theme_preset`
--

LOCK TABLES `theme_preset` WRITE;
/*!40000 ALTER TABLE `theme_preset` DISABLE KEYS */;
/*!40000 ALTER TABLE `theme_preset` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `theme_preset_fonts`
--

DROP TABLE IF EXISTS `theme_preset_fonts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `theme_preset_fonts` (
  `preset` varchar(255) NOT NULL,
  `font` varchar(255) NOT NULL,
  `setting` varchar(255) NOT NULL,
  PRIMARY KEY (`preset`,`font`,`setting`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `theme_preset_fonts`
--

LOCK TABLES `theme_preset_fonts` WRITE;
/*!40000 ALTER TABLE `theme_preset_fonts` DISABLE KEYS */;
/*!40000 ALTER TABLE `theme_preset_fonts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `theme_settings`
--

DROP TABLE IF EXISTS `theme_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `theme_settings` (
  `theme` varchar(200) NOT NULL,
  `setting` varchar(200) NOT NULL,
  `setting_val` varchar(200) DEFAULT NULL,
  `title` text,
  `header` text,
  `subheader` text,
  `page` varchar(255) DEFAULT NULL,
  `page_orden` int(11) DEFAULT '0',
  `block` varchar(255) DEFAULT NULL,
  `block_title` varchar(255) DEFAULT NULL,
  `block_orden` int(11) DEFAULT '0',
  `setting_orden` int(11) DEFAULT NULL,
  `setting_type` varchar(255) DEFAULT NULL,
  `setting_options` varchar(255) DEFAULT NULL,
  `setting_require` varchar(255) DEFAULT NULL,
  `gradient` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`theme`,`setting`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `theme_settings`
--

LOCK TABLES `theme_settings` WRITE;
/*!40000 ALTER TABLE `theme_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `theme_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `themes`
--

DROP TABLE IF EXISTS `themes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `themes` (
  `theme` varchar(25) NOT NULL,
  `themePreset` varchar(255) NOT NULL,
  `themeData` longtext,
  `themeVersion` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`theme`,`themePreset`),
  UNIQUE KEY `KEY` (`theme`,`themePreset`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `themes`
--

LOCK TABLES `themes` WRITE;
/*!40000 ALTER TABLE `themes` DISABLE KEYS */;
/*!40000 ALTER TABLE `themes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
  `email` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
  `pass` varchar(200) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `age` int(3) NOT NULL,
  `birthday` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `city` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `country` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL DEFAULT '',
  `gender` int(1) NOT NULL DEFAULT '0',
  `lat` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL DEFAULT '0',
  `lng` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL DEFAULT '0',
  `credits` int(9) NOT NULL DEFAULT '0',
  `premium` int(9) NOT NULL DEFAULT '0',
  `last_access` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL DEFAULT '0',
  `app_id` varchar(300) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL DEFAULT '0',
  `facebook_id` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL DEFAULT '0',
  `looking` int(1) NOT NULL DEFAULT '0',
  `verified` int(1) NOT NULL DEFAULT '0',
  `popular` int(9) NOT NULL DEFAULT '0',
  `lang` int(3) NOT NULL DEFAULT '1',
  `admin` int(9) NOT NULL DEFAULT '0',
  `fake` int(1) DEFAULT '0',
  `online_day` int(1) DEFAULT NULL,
  `join_date` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `s_age` varchar(10) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT '',
  `s_gender` int(1) DEFAULT NULL,
  `s_radious` int(9) DEFAULT '20',
  `superlike` int(9) DEFAULT '0',
  `total` int(9) DEFAULT '0',
  `bio` longtext,
  `meet` int(5) DEFAULT '0',
  `discover` int(5) DEFAULT '0',
  `twitter_id` varchar(200) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `google_id` varchar(200) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `instagram_id` varchar(200) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `paypal` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `guest` int(1) DEFAULT '0',
  `ip` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT '0',
  `username` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT '',
  `moderator` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `subscribe` int(10) DEFAULT '0',
  `password` varchar(255) DEFAULT NULL,
  `bio_url` longtext,
  `online_days` varchar(255) DEFAULT '',
  `join_date_time` varchar(100) DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `USER` (`id`,`age`,`gender`) USING BTREE,
  KEY `EMAIL` (`email`) USING BTREE,
  KEY `GEO` (`lat`,`lng`) USING BTREE,
  KEY `CITY` (`city`) USING BTREE,
  KEY `COUNTRY` (`country`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=1516478541 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'admin','admin@demo.com','YWlyQcEvGMk52',23,'June 05, 1994','MontrÃ©al','Canada',1,'45.50884','-73.58781',2385,0,'1571566790','0','0',2,1,1,1,1,0,5,'13/09/2019','18,30',2,93,0,0,'Admin of the site',1,100,NULL,NULL,NULL,NULL,0,'::1','admin','Administrator',0,NULL,NULL,'',NULL);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_blocks`
--

DROP TABLE IF EXISTS `users_blocks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_blocks` (
  `uid1` int(9) NOT NULL,
  `uid2` int(9) NOT NULL,
  PRIMARY KEY (`uid1`,`uid2`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1 COLLATE=latin1_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_blocks`
--

LOCK TABLES `users_blocks` WRITE;
/*!40000 ALTER TABLE `users_blocks` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_blocks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_chat`
--

DROP TABLE IF EXISTS `users_chat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_chat` (
  `uid` int(9) NOT NULL,
  `date` varchar(100) NOT NULL,
  `count` int(9) NOT NULL,
  `last_chat` varchar(50) NOT NULL,
  PRIMARY KEY (`date`,`uid`),
  UNIQUE KEY `KEY` (`date`,`uid`) USING BTREE
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_chat`
--

LOCK TABLES `users_chat` WRITE;
/*!40000 ALTER TABLE `users_chat` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_chat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_credits`
--

DROP TABLE IF EXISTS `users_credits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_credits` (
  `uid` int(11) DEFAULT NULL,
  `credits` int(11) DEFAULT NULL,
  `reason` longtext,
  `time` varchar(20) DEFAULT NULL,
  `type` varchar(255) DEFAULT 'spend',
  KEY `ID` (`uid`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_credits`
--

LOCK TABLES `users_credits` WRITE;
/*!40000 ALTER TABLE `users_credits` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_credits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_extended`
--

DROP TABLE IF EXISTS `users_extended`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_extended` (
  `uid` int(9) NOT NULL,
  `field1` longtext,
  `field2` longtext,
  `field3` longtext,
  `field4` varchar(100) DEFAULT NULL,
  `field5` varchar(100) DEFAULT NULL,
  `field6` varchar(100) DEFAULT NULL,
  `field7` varchar(100) DEFAULT NULL,
  `field8` varchar(100) DEFAULT NULL,
  `field9` varchar(100) DEFAULT NULL,
  `field10` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`uid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_extended`
--

LOCK TABLES `users_extended` WRITE;
/*!40000 ALTER TABLE `users_extended` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_extended` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_gift`
--

DROP TABLE IF EXISTS `users_gift`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_gift` (
  `id` int(9) NOT NULL AUTO_INCREMENT,
  `s_id` int(9) DEFAULT NULL,
  `r_id` int(9) DEFAULT NULL,
  `g_id` int(9) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=16 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_gift`
--

LOCK TABLES `users_gift` WRITE;
/*!40000 ALTER TABLE `users_gift` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_gift` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_interest`
--

DROP TABLE IF EXISTS `users_interest`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_interest` (
  `i_id` int(9) NOT NULL,
  `u_id` int(9) NOT NULL,
  PRIMARY KEY (`i_id`,`u_id`),
  UNIQUE KEY `KEY` (`i_id`,`u_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_interest`
--

LOCK TABLES `users_interest` WRITE;
/*!40000 ALTER TABLE `users_interest` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_interest` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_likes`
--

DROP TABLE IF EXISTS `users_likes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_likes` (
  `u1` int(11) NOT NULL,
  `u2` int(11) NOT NULL,
  `love` int(1) NOT NULL,
  `time` varchar(20) NOT NULL,
  `notification` int(1) NOT NULL DEFAULT '0',
  `superlike` int(1) DEFAULT '0',
  PRIMARY KEY (`u1`,`u2`),
  UNIQUE KEY `KEY` (`u1`,`u2`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_likes`
--

LOCK TABLES `users_likes` WRITE;
/*!40000 ALTER TABLE `users_likes` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_likes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_notifications`
--

DROP TABLE IF EXISTS `users_notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_notifications` (
  `uid` int(9) NOT NULL,
  `visit` varchar(10) DEFAULT '1,1,1',
  `match_me` varchar(10) DEFAULT '1,1,1',
  `fan` varchar(10) DEFAULT '1,1,1',
  `near_me` varchar(10) DEFAULT '1,1,1',
  `message` varchar(10) DEFAULT '1,1,1',
  PRIMARY KEY (`uid`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_notifications`
--

LOCK TABLES `users_notifications` WRITE;
/*!40000 ALTER TABLE `users_notifications` DISABLE KEYS */;
INSERT INTO `users_notifications` VALUES (1,'1,1,1','1,1,1','1,1,1','1,1,1','1,1,1');
/*!40000 ALTER TABLE `users_notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_online_day`
--

DROP TABLE IF EXISTS `users_online_day`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_online_day` (
  `uid` int(11) NOT NULL,
  `mon` int(1) DEFAULT '0',
  `tue` int(1) DEFAULT '0',
  `wed` int(1) DEFAULT '0',
  `thu` int(1) DEFAULT '0',
  `fri` int(1) DEFAULT '0',
  `sat` int(1) DEFAULT '0',
  `sun` int(1) DEFAULT '0',
  PRIMARY KEY (`uid`),
  UNIQUE KEY `KEY` (`uid`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_online_day`
--

LOCK TABLES `users_online_day` WRITE;
/*!40000 ALTER TABLE `users_online_day` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_online_day` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_photos`
--

DROP TABLE IF EXISTS `users_photos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_photos` (
  `id` int(9) NOT NULL AUTO_INCREMENT,
  `u_id` int(9) NOT NULL,
  `photo` varchar(250) NOT NULL,
  `approved` int(1) NOT NULL DEFAULT '1',
  `blocked` int(1) NOT NULL DEFAULT '0',
  `thumb` varchar(250) NOT NULL,
  `profile` int(1) NOT NULL DEFAULT '0',
  `private` varchar(250) NOT NULL DEFAULT '0',
  `video` int(1) DEFAULT '0',
  `time` varchar(255) DEFAULT '0',
  `fake` int(1) DEFAULT '0',
  `story` int(11) DEFAULT '0',
  `ig_id` varchar(99) DEFAULT '0',
  `chat` int(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `PHOTO` (`photo`) USING BTREE,
  KEY `PROFILE` (`id`,`profile`) USING BTREE,
  KEY `USER` (`u_id`) USING BTREE
) ENGINE=MyISAM AUTO_INCREMENT=2350 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_photos`
--

LOCK TABLES `users_photos` WRITE;
/*!40000 ALTER TABLE `users_photos` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_photos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_premium`
--

DROP TABLE IF EXISTS `users_premium`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_premium` (
  `uid` int(9) NOT NULL,
  `premium` varchar(100) NOT NULL DEFAULT '0',
  PRIMARY KEY (`uid`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_premium`
--

LOCK TABLES `users_premium` WRITE;
/*!40000 ALTER TABLE `users_premium` DISABLE KEYS */;
INSERT INTO `users_premium` VALUES (1,'1570414498');
/*!40000 ALTER TABLE `users_premium` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_profile_questions`
--

DROP TABLE IF EXISTS `users_profile_questions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_profile_questions` (
  `uid` int(11) NOT NULL,
  `qid` int(11) NOT NULL,
  `answer` text,
  `fake` int(1) DEFAULT '0',
  PRIMARY KEY (`uid`,`qid`),
  UNIQUE KEY `KEY` (`uid`,`qid`) USING BTREE
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_profile_questions`
--

LOCK TABLES `users_profile_questions` WRITE;
/*!40000 ALTER TABLE `users_profile_questions` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_profile_questions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_rewards`
--

DROP TABLE IF EXISTS `users_rewards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_rewards` (
  `uid` int(11) NOT NULL,
  `reward` varchar(255) NOT NULL,
  `reward_type` varchar(255) DEFAULT NULL,
  `reward_date` varchar(255) DEFAULT NULL,
  `reward_amount` int(11) DEFAULT NULL,
  PRIMARY KEY (`uid`,`reward`),
  KEY `USER` (`uid`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_rewards`
--

LOCK TABLES `users_rewards` WRITE;
/*!40000 ALTER TABLE `users_rewards` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_rewards` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_story`
--

DROP TABLE IF EXISTS `users_story`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_story` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `uid` int(11) DEFAULT NULL,
  `storyTime` varchar(20) DEFAULT NULL,
  `story` varchar(255) DEFAULT NULL,
  `storyType` varchar(20) DEFAULT NULL,
  `credits` int(11) DEFAULT '0',
  `lat` varchar(255) DEFAULT NULL,
  `lng` varchar(255) DEFAULT NULL,
  `deleted` int(1) DEFAULT '0',
  `album` int(11) DEFAULT '0',
  `review` varchar(255) DEFAULT 'No',
  PRIMARY KEY (`id`),
  KEY `USER` (`id`,`storyTime`,`review`)
) ENGINE=MyISAM AUTO_INCREMENT=38 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_story`
--

LOCK TABLES `users_story` WRITE;
/*!40000 ALTER TABLE `users_story` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_story` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_story_albums`
--

DROP TABLE IF EXISTS `users_story_albums`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_story_albums` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `uid` int(11) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `photo` varchar(255) DEFAULT NULL,
  `stories` longtext,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_story_albums`
--

LOCK TABLES `users_story_albums` WRITE;
/*!40000 ALTER TABLE `users_story_albums` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_story_albums` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_story_purchase`
--

DROP TABLE IF EXISTS `users_story_purchase`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_story_purchase` (
  `sid` int(11) NOT NULL,
  `uid` int(11) NOT NULL,
  `time` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`sid`,`uid`),
  UNIQUE KEY `KEY` (`sid`,`uid`) USING BTREE
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_story_purchase`
--

LOCK TABLES `users_story_purchase` WRITE;
/*!40000 ALTER TABLE `users_story_purchase` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_story_purchase` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_story_view`
--

DROP TABLE IF EXISTS `users_story_view`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_story_view` (
  `sid` int(11) NOT NULL,
  `uid` int(11) NOT NULL,
  `view` int(1) DEFAULT '0',
  `viewTime` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`sid`,`uid`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_story_view`
--

LOCK TABLES `users_story_view` WRITE;
/*!40000 ALTER TABLE `users_story_view` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_story_view` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_verification`
--

DROP TABLE IF EXISTS `users_verification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_verification` (
  `uid` int(11) NOT NULL,
  `media` varchar(255) DEFAULT NULL,
  `time` varchar(255) DEFAULT NULL,
  `verify` int(1) DEFAULT '0',
  `status` varchar(255) DEFAULT 'No',
  PRIMARY KEY (`uid`),
  UNIQUE KEY `KEY` (`uid`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_verification`
--

LOCK TABLES `users_verification` WRITE;
/*!40000 ALTER TABLE `users_verification` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_verification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_videocall`
--

DROP TABLE IF EXISTS `users_videocall`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_videocall` (
  `u_id` int(9) NOT NULL,
  `peer_id` varchar(100) NOT NULL,
  `status` int(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`u_id`),
  UNIQUE KEY `KEY` (`u_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_videocall`
--

LOCK TABLES `users_videocall` WRITE;
/*!40000 ALTER TABLE `users_videocall` DISABLE KEYS */;
INSERT INTO `users_videocall` VALUES (1,'i3475tvtmx900000',1);
/*!40000 ALTER TABLE `users_videocall` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_visits`
--

DROP TABLE IF EXISTS `users_visits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_visits` (
  `u1` int(11) NOT NULL,
  `u2` int(11) NOT NULL,
  `timeago` varchar(100) NOT NULL,
  `notification` int(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`u1`,`u2`),
  UNIQUE KEY `KEY` (`u1`,`u2`),
  KEY `TIME` (`timeago`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_visits`
--

LOCK TABLES `users_visits` WRITE;
/*!40000 ALTER TABLE `users_visits` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_visits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_withdraw`
--

DROP TABLE IF EXISTS `users_withdraw`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_withdraw` (
  `id` int(9) NOT NULL AUTO_INCREMENT,
  `u_id` int(9) NOT NULL,
  `withdraw_date` varchar(200) DEFAULT NULL,
  `withdraw_amount` int(10) DEFAULT NULL,
  `status` varchar(100) DEFAULT 'Pending',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_withdraw`
--

LOCK TABLES `users_withdraw` WRITE;
/*!40000 ALTER TABLE `users_withdraw` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_withdraw` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `videocall`
--

DROP TABLE IF EXISTS `videocall`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `videocall` (
  `call_id` varchar(255) NOT NULL,
  `c_id` int(9) NOT NULL,
  `r_id` int(9) NOT NULL,
  `duration` varchar(11) DEFAULT NULL,
  `call_date` varchar(100) NOT NULL,
  `c_id_video` varchar(255) DEFAULT NULL,
  `r_id_video` varchar(255) DEFAULT NULL,
  `status` int(1) DEFAULT '0',
  `total_seconds` int(11) DEFAULT '0',
  PRIMARY KEY (`call_id`)
) ENGINE=MyISAM AUTO_INCREMENT=49 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `videocall`
--

LOCK TABLES `videocall` WRITE;
/*!40000 ALTER TABLE `videocall` DISABLE KEYS */;
/*!40000 ALTER TABLE `videocall` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2020-10-06 22:04:24
