-- MySQL dump 10.13  Distrib 8.0.18, for Win64 (x86_64)
--
-- Host: localhost    Database: digitalmarket
-- ------------------------------------------------------
-- Server version	8.0.18

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `avig_language`
--

DROP TABLE IF EXISTS `avig_language`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `avig_language` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `lang_name` varchar(200) NOT NULL,
  `lang_code` varchar(50) NOT NULL,
  `lang_flag` varchar(200) NOT NULL,
  `lang_default` int(50) NOT NULL,
  `lang_status` int(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `avig_language`
--

LOCK TABLES `avig_language` WRITE;
/*!40000 ALTER TABLE `avig_language` DISABLE KEYS */;
INSERT INTO `avig_language` VALUES (2,'English','en','1546674637.png',1,1),(6,'Arabic','ar','1546674664.png',0,1),(9,'Spanish','es','1546675049.jpg',0,1);
/*!40000 ALTER TABLE `avig_language` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `avig_translate`
--

DROP TABLE IF EXISTS `avig_translate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `avig_translate` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(200) NOT NULL,
  `token` varchar(200) NOT NULL,
  `lang_code` varchar(50) NOT NULL,
  `parent` int(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1182 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `avig_translate`
--

LOCK TABLES `avig_translate` WRITE;
/*!40000 ALTER TABLE `avig_translate` DISABLE KEYS */;
/*!40000 ALTER TABLE `avig_translate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `category`
--

DROP TABLE IF EXISTS `category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `category` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cat_name` varchar(255) NOT NULL,
  `post_slug` varchar(500) NOT NULL,
  `image` varchar(255) NOT NULL,
  `cat_type` varchar(50) NOT NULL,
  `display_menu` int(50) NOT NULL,
  `delete_status` varchar(50) NOT NULL,
  `token` varchar(200) NOT NULL,
  `lang_code` varchar(50) NOT NULL,
  `parent` int(100) NOT NULL,
  `status` int(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=84 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `category`
--

LOCK TABLES `category` WRITE;
/*!40000 ALTER TABLE `category` DISABLE KEYS */;
/*!40000 ALTER TABLE `category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contact_us`
--

DROP TABLE IF EXISTS `contact_us`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contact_us` (
  `cont_id` int(11) NOT NULL AUTO_INCREMENT,
  `cont_name` varchar(200) NOT NULL,
  `cont_email` varchar(200) NOT NULL,
  `cont_phone` varchar(200) NOT NULL,
  `cont_date` varchar(200) NOT NULL,
  `cont_message` mediumtext NOT NULL,
  PRIMARY KEY (`cont_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contact_us`
--

LOCK TABLES `contact_us` WRITE;
/*!40000 ALTER TABLE `contact_us` DISABLE KEYS */;
INSERT INTO `contact_us` VALUES (5,'sample','sample@sample.com','56454654','11-04-2018 06:51:18 am','test'),(6,'fdsa','fdsa','fdsa','01-16-2019 08:35:18 am','dfsa'),(7,'sssa','sds','fdsfda','01-16-2019 08:40:04 am','fdsadfsa');
/*!40000 ALTER TABLE `contact_us` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `country`
--

DROP TABLE IF EXISTS `country`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `country` (
  `country_id` int(11) NOT NULL AUTO_INCREMENT,
  `country_name` varchar(500) NOT NULL,
  `country_badges` varchar(500) NOT NULL,
  PRIMARY KEY (`country_id`)
) ENGINE=InnoDB AUTO_INCREMENT=204 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `country`
--

LOCK TABLES `country` WRITE;
/*!40000 ALTER TABLE `country` DISABLE KEYS */;
/*!40000 ALTER TABLE `country` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `currency`
--

DROP TABLE IF EXISTS `currency`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `currency` (
  `currency_id` int(11) NOT NULL AUTO_INCREMENT,
  `currency_code` varchar(50) NOT NULL,
  PRIMARY KEY (`currency_id`)
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `currency`
--

LOCK TABLES `currency` WRITE;
/*!40000 ALTER TABLE `currency` DISABLE KEYS */;
INSERT INTO `currency` VALUES (8,'USD'),(9,'CZK'),(10,'DKK'),(11,'HKD'),(12,'HUF'),(13,'ILS'),(14,'JPY'),(15,'MXN'),(16,'NZD'),(17,'NOK'),(18,'PHP'),(19,'PLN'),(20,'SGD'),(21,'SEK'),(22,'CHF'),(23,'THB'),(24,'AUD'),(25,'CAD'),(26,'EUR'),(27,'GBP'),(28,'AFN'),(29,'DZD'),(30,'AOA'),(31,'XCD'),(32,'ARS'),(33,'AMD'),(34,'AWG'),(35,'SHP'),(36,'AZN'),(37,'BSD'),(38,'BHD'),(39,'BDT'),(40,'INR');
/*!40000 ALTER TABLE `currency` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
INSERT INTO `migrations` VALUES (1,'2014_10_12_000000_create_users_table',1),(2,'2014_10_12_100000_create_password_resets_table',1);
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `newsletter`
--

DROP TABLE IF EXISTS `newsletter`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `newsletter` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(200) NOT NULL,
  `activated` int(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `newsletter`
--

LOCK TABLES `newsletter` WRITE;
/*!40000 ALTER TABLE `newsletter` DISABLE KEYS */;
INSERT INTO `newsletter` VALUES (4,'test@test.com',1),(5,'admin@gmail.com',0),(6,'wpchecking@gmail.com',0),(7,'demo@gmail.com',0);
/*!40000 ALTER TABLE `newsletter` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pages`
--

DROP TABLE IF EXISTS `pages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pages` (
  `page_id` int(11) NOT NULL AUTO_INCREMENT,
  `page_title` varchar(255) NOT NULL,
  `post_slug` varchar(500) NOT NULL,
  `page_desc` text NOT NULL,
  `photo` varchar(500) NOT NULL,
  `menu_position` varchar(200) NOT NULL,
  `token` varchar(200) NOT NULL,
  `lang_code` varchar(50) NOT NULL,
  `parent` int(100) NOT NULL,
  `menu_order` int(50) NOT NULL,
  PRIMARY KEY (`page_id`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pages`
--

LOCK TABLES `pages` WRITE;
/*!40000 ALTER TABLE `pages` DISABLE KEYS */;
/*!40000 ALTER TABLE `pages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `post`
--

DROP TABLE IF EXISTS `post`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `post` (
  `post_id` int(11) NOT NULL AUTO_INCREMENT,
  `post_title` varchar(200) NOT NULL,
  `post_slug` varchar(500) NOT NULL,
  `post_desc` longtext NOT NULL,
  `post_tags` text NOT NULL,
  `post_type` varchar(50) NOT NULL,
  `post_seat_space` int(200) NOT NULL,
  `post_parent` int(100) NOT NULL,
  `post_comment_type` varchar(100) NOT NULL,
  `post_media_type` varchar(50) NOT NULL,
  `post_image` varchar(200) NOT NULL,
  `post_start_date` datetime NOT NULL,
  `post_end_date` datetime NOT NULL,
  `post_location` text NOT NULL,
  `post_phone` varchar(200) NOT NULL,
  `post_website` varchar(200) NOT NULL,
  `post_email` varchar(200) NOT NULL,
  `post_user_id` int(200) NOT NULL,
  `post_audio` varchar(200) NOT NULL,
  `post_video` varchar(200) NOT NULL,
  `post_date` datetime NOT NULL,
  `post_staff_type` varchar(50) NOT NULL,
  `post_facebook` varchar(200) NOT NULL,
  `post_twitter` varchar(200) NOT NULL,
  `post_gplus` varchar(200) NOT NULL,
  `post_youtube` varchar(200) NOT NULL,
  `token` varchar(200) NOT NULL,
  `lang_code` varchar(50) NOT NULL,
  `parent` int(100) NOT NULL,
  `post_status` varchar(50) NOT NULL,
  PRIMARY KEY (`post_id`)
) ENGINE=InnoDB AUTO_INCREMENT=58 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `post`
--

LOCK TABLES `post` WRITE;
/*!40000 ALTER TABLE `post` DISABLE KEYS */;
/*!40000 ALTER TABLE `post` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_checkout`
--

DROP TABLE IF EXISTS `product_checkout`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_checkout` (
  `cid` int(11) NOT NULL AUTO_INCREMENT,
  `purchase_token` varchar(500) NOT NULL,
  `token` varchar(500) NOT NULL,
  `ord_id` varchar(200) NOT NULL,
  `item_prices` varchar(200) NOT NULL,
  `item_user_id` varchar(200) NOT NULL,
  `user_id` int(200) NOT NULL,
  `total` int(200) NOT NULL,
  `vendor_amount` float NOT NULL,
  `admin_amount` float NOT NULL,
  `payment_type` varchar(100) NOT NULL,
  `payment_token` varchar(200) NOT NULL,
  `payment_date` date NOT NULL,
  `payment_approval` int(50) NOT NULL,
  `bill_firstname` varchar(200) NOT NULL,
  `bill_lastname` varchar(200) NOT NULL,
  `bill_companyname` varchar(200) NOT NULL,
  `bill_email` varchar(200) NOT NULL,
  `bill_phone` varchar(200) NOT NULL,
  `bill_country` varchar(200) NOT NULL,
  `bill_address` mediumtext NOT NULL,
  `bill_city` varchar(200) NOT NULL,
  `bill_state` varchar(200) NOT NULL,
  `bill_postcode` varchar(200) NOT NULL,
  `enable_ship` int(50) NOT NULL,
  `ship_firstname` varchar(200) NOT NULL,
  `ship_lastname` varchar(200) NOT NULL,
  `ship_companyname` varchar(200) NOT NULL,
  `ship_email` varchar(200) NOT NULL,
  `ship_phone` varchar(200) NOT NULL,
  `ship_country` varchar(200) NOT NULL,
  `ship_address` mediumtext NOT NULL,
  `ship_city` varchar(200) NOT NULL,
  `ship_state` varchar(200) NOT NULL,
  `ship_postcode` varchar(200) NOT NULL,
  `other_notes` mediumtext NOT NULL,
  `payment_status` varchar(100) NOT NULL,
  PRIMARY KEY (`cid`)
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_checkout`
--

LOCK TABLES `product_checkout` WRITE;
/*!40000 ALTER TABLE `product_checkout` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_checkout` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_comment`
--

DROP TABLE IF EXISTS `product_comment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_comment` (
  `comm_id` int(11) NOT NULL AUTO_INCREMENT,
  `item_id` int(200) NOT NULL,
  `item_token` varchar(200) NOT NULL,
  `comm_user_id` int(200) NOT NULL,
  `item_user_id` int(200) NOT NULL,
  `comm_text` mediumtext NOT NULL,
  `comm_date` datetime NOT NULL,
  `comm_group_id` varchar(200) NOT NULL,
  `comm_parent` int(200) NOT NULL,
  PRIMARY KEY (`comm_id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_comment`
--

LOCK TABLES `product_comment` WRITE;
/*!40000 ALTER TABLE `product_comment` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_comment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_images`
--

DROP TABLE IF EXISTS `product_images`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_images` (
  `item_img_id` int(11) NOT NULL AUTO_INCREMENT,
  `image` varchar(200) NOT NULL,
  `item_token` varchar(200) NOT NULL,
  PRIMARY KEY (`item_img_id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_images`
--

LOCK TABLES `product_images` WRITE;
/*!40000 ALTER TABLE `product_images` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_images` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_liked`
--

DROP TABLE IF EXISTS `product_liked`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_liked` (
  `like_id` int(11) NOT NULL AUTO_INCREMENT,
  `item_id` int(200) NOT NULL,
  `user_id` int(200) NOT NULL,
  PRIMARY KEY (`like_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_liked`
--

LOCK TABLES `product_liked` WRITE;
/*!40000 ALTER TABLE `product_liked` DISABLE KEYS */;
INSERT INTO `product_liked` VALUES (1,13,8),(2,10,8),(3,11,8),(4,56,20),(5,42,20);
/*!40000 ALTER TABLE `product_liked` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_orders`
--

DROP TABLE IF EXISTS `product_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_orders` (
  `ord_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(200) NOT NULL,
  `item_id` int(200) NOT NULL,
  `item_name` varchar(500) NOT NULL,
  `item_user_id` int(200) NOT NULL,
  `item_token` varchar(200) NOT NULL,
  `purchase_token` varchar(200) NOT NULL,
  `payment_token` varchar(500) NOT NULL,
  `payment_type` varchar(50) NOT NULL,
  `licence_type` varchar(200) NOT NULL,
  `license_start_date` date NOT NULL,
  `license_end_date` date NOT NULL,
  `downloaded_count` int(100) NOT NULL,
  `price` float NOT NULL,
  `vendor_amount` float NOT NULL,
  `admin_amount` float NOT NULL,
  `total` float NOT NULL,
  `status` varchar(50) NOT NULL,
  `delete_status` varchar(100) NOT NULL,
  `approval_status` varchar(500) NOT NULL,
  PRIMARY KEY (`ord_id`)
) ENGINE=InnoDB AUTO_INCREMENT=65 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_orders`
--

LOCK TABLES `product_orders` WRITE;
/*!40000 ALTER TABLE `product_orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_rating`
--

DROP TABLE IF EXISTS `product_rating`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_rating` (
  `rate_id` int(11) NOT NULL AUTO_INCREMENT,
  `item_id` int(200) NOT NULL,
  `user_id` int(200) NOT NULL,
  `rating` int(200) NOT NULL,
  `review` mediumtext NOT NULL,
  `review_date` datetime NOT NULL,
  PRIMARY KEY (`rate_id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_rating`
--

LOCK TABLES `product_rating` WRITE;
/*!40000 ALTER TABLE `product_rating` DISABLE KEYS */;
INSERT INTO `product_rating` VALUES (5,1,7,4,'Good item. i will recommended','2018-09-04 02:54:07'),(6,13,7,2,'it\'s better. not good','0000-00-00 00:00:00'),(7,14,7,2,'bad :(','0000-00-00 00:00:00'),(8,15,7,5,'weldone. item really good.','2018-09-04 02:49:51'),(9,1,9,2,'it\'s not good','0000-00-00 00:00:00'),(10,12,20,5,'Good','2018-12-02 09:33:38'),(11,3,20,4,'Good','2019-01-14 11:24:51'),(12,74,8,4,'good','2019-01-22 12:04:56'),(13,12,8,3,'well','2019-01-22 12:14:56'),(14,10,8,2,'nice','2019-01-22 12:15:55'),(15,9,8,5,'good','2019-01-22 12:19:50');
/*!40000 ALTER TABLE `product_rating` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_refund`
--

DROP TABLE IF EXISTS `product_refund`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_refund` (
  `dispute_id` int(11) NOT NULL AUTO_INCREMENT,
  `purchase_token` int(200) NOT NULL,
  `request_date` date NOT NULL,
  `order_id` int(200) NOT NULL,
  `item_id` int(200) NOT NULL,
  `payment_date` date NOT NULL,
  `buyer_id` int(200) NOT NULL,
  `vendor_id` int(200) NOT NULL,
  `payment` float NOT NULL,
  `payment_type` varchar(200) NOT NULL,
  `subject` mediumtext NOT NULL,
  `message` mediumtext NOT NULL,
  `delete_status` varchar(100) NOT NULL,
  `dispute_status` varchar(200) NOT NULL,
  PRIMARY KEY (`dispute_id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_refund`
--

LOCK TABLES `product_refund` WRITE;
/*!40000 ALTER TABLE `product_refund` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_refund` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_report`
--

DROP TABLE IF EXISTS `product_report`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_report` (
  `rid` int(11) NOT NULL AUTO_INCREMENT,
  `item_id` int(100) NOT NULL,
  `item_user_id` int(100) NOT NULL,
  `report_user_id` int(100) NOT NULL,
  `report_category` varchar(200) NOT NULL,
  `reason_for_report` text NOT NULL,
  PRIMARY KEY (`rid`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_report`
--

LOCK TABLES `product_report` WRITE;
/*!40000 ALTER TABLE `product_report` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_report` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_withdraw`
--

DROP TABLE IF EXISTS `product_withdraw`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_withdraw` (
  `wid` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(100) NOT NULL,
  `withdraw_amount` varchar(200) NOT NULL,
  `withdraw_payment_type` varchar(200) NOT NULL,
  `paypal_id` varchar(200) NOT NULL,
  `stripe_id` varchar(200) NOT NULL,
  `bank_account_no` varchar(200) NOT NULL,
  `bank_info` varchar(200) NOT NULL,
  `bank_ifsc` varchar(200) NOT NULL,
  `paytm_no` varchar(200) NOT NULL,
  `withdraw_status` varchar(100) NOT NULL,
  PRIMARY KEY (`wid`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_withdraw`
--

LOCK TABLES `product_withdraw` WRITE;
/*!40000 ALTER TABLE `product_withdraw` DISABLE KEYS */;
INSERT INTO `product_withdraw` VALUES (3,8,'12','paypal','neww@gmail.com','','','','','','pending'),(4,8,'8','stripe','','welco@gmail.com','','','','','completed'),(5,8,'35','localbank','','','8732823','test bank and new street','32432','','completed'),(6,20,'5','paytm','','','','','','9876543210','pending'),(7,23,'50','stripe','','new@gmail.com','','','','','pending');
/*!40000 ALTER TABLE `product_withdraw` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `products` (
  `item_id` int(11) NOT NULL AUTO_INCREMENT,
  `item_token` varchar(1000) NOT NULL,
  `user_id` int(200) NOT NULL,
  `item_title` varchar(1000) NOT NULL,
  `item_slug` varchar(500) NOT NULL,
  `item_desc` text NOT NULL,
  `regular_price_six_month` float NOT NULL,
  `regular_price_one_year` float NOT NULL,
  `extended_price_six_month` float NOT NULL,
  `extended_price_one_year` float NOT NULL,
  `high_resolution` varchar(50) NOT NULL,
  `compatible_browser` varchar(500) NOT NULL,
  `file_included` varchar(500) NOT NULL,
  `demo_url` varchar(500) NOT NULL,
  `support_item` varchar(50) NOT NULL,
  `future_update` varchar(50) NOT NULL,
  `unlimited_download` varchar(50) NOT NULL,
  `category` varchar(500) NOT NULL,
  `framework_category` varchar(1000) NOT NULL,
  `first_update` date NOT NULL,
  `last_update` date NOT NULL,
  `sales` int(200) NOT NULL,
  `item_thumbnail` varchar(200) NOT NULL,
  `preview_image` varchar(200) NOT NULL,
  `main_file` varchar(200) NOT NULL,
  `item_tags` varchar(1000) NOT NULL,
  `item_featured` int(50) NOT NULL,
  `featured_startdate` date NOT NULL,
  `featured_enddate` date NOT NULL,
  `featured_days` int(50) NOT NULL,
  `featured_price` float NOT NULL,
  `featured_payment_type` varchar(50) NOT NULL,
  `featured_payment_status` varchar(100) NOT NULL,
  `featured_payment_key` varchar(500) NOT NULL,
  `downloaded` int(200) NOT NULL,
  `liked` int(200) NOT NULL,
  `delete_status` varchar(50) NOT NULL,
  `token` varchar(200) NOT NULL,
  `lang_code` varchar(50) NOT NULL,
  `parent` int(100) NOT NULL,
  `item_status` int(50) NOT NULL,
  PRIMARY KEY (`item_id`)
) ENGINE=InnoDB AUTO_INCREMENT=77 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products_meta`
--

DROP TABLE IF EXISTS `products_meta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `products_meta` (
  `item_meta_id` int(11) NOT NULL AUTO_INCREMENT,
  `item_token` varchar(200) NOT NULL,
  `user_id` int(200) NOT NULL,
  `item_meta_key` varchar(200) NOT NULL,
  `item_meta_value` varchar(1000) NOT NULL,
  PRIMARY KEY (`item_meta_id`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products_meta`
--

LOCK TABLES `products_meta` WRITE;
/*!40000 ALTER TABLE `products_meta` DISABLE KEYS */;
/*!40000 ALTER TABLE `products_meta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `site_name` varchar(255) NOT NULL,
  `site_desc` text NOT NULL,
  `site_keyword` text NOT NULL,
  `site_address` text NOT NULL,
  `site_phone` varchar(200) NOT NULL,
  `site_email` varchar(200) NOT NULL,
  `site_layout` varchar(50) NOT NULL,
  `site_facebook` varchar(255) NOT NULL,
  `site_twitter` varchar(255) NOT NULL,
  `site_gplus` varchar(255) NOT NULL,
  `site_pinterest` varchar(255) NOT NULL,
  `site_instagram` varchar(255) NOT NULL,
  `site_currency` varchar(255) NOT NULL,
  `site_logo` varchar(255) NOT NULL,
  `site_favicon` varchar(255) NOT NULL,
  `site_banner` varchar(255) NOT NULL,
  `site_banner_heading` text NOT NULL,
  `site_banner_subheading` text NOT NULL,
  `header_type` varchar(50) NOT NULL,
  `site_copyright` varchar(255) NOT NULL,
  `site_post_per` int(50) NOT NULL,
  `site_comment_per` int(200) NOT NULL,
  `site_latest_item` int(50) NOT NULL,
  `site_latest_item_count` int(50) NOT NULL,
  `paypal_id` varchar(255) NOT NULL,
  `paypal_url` varchar(255) NOT NULL,
  `site_map_api` varchar(800) NOT NULL,
  `site_url` varchar(100) NOT NULL,
  `image_size` int(255) NOT NULL,
  `video_size` int(255) NOT NULL,
  `image_type` varchar(200) NOT NULL,
  `mp3_size` int(200) NOT NULL,
  `zip_size` int(200) NOT NULL,
  `site_loading` int(50) NOT NULL,
  `site_loading_url` varchar(200) NOT NULL,
  `site_primary_color` varchar(200) NOT NULL,
  `site_secondary_color` varchar(200) NOT NULL,
  `site_button_color` varchar(200) NOT NULL,
  `site_link_color` varchar(50) NOT NULL,
  `with_submit_product` int(50) NOT NULL,
  `payment_option` varchar(255) NOT NULL,
  `withdraw_option` varchar(255) NOT NULL,
  `stripe_mode` varchar(255) NOT NULL,
  `test_publish_key` varchar(255) NOT NULL,
  `test_secret_key` varchar(255) NOT NULL,
  `live_publish_key` varchar(255) NOT NULL,
  `live_secret_key` varchar(255) NOT NULL,
  `commission_mode` varchar(255) NOT NULL,
  `commission_amt` float NOT NULL,
  `withdraw_amt` float NOT NULL,
  `processing_fee` float NOT NULL,
  `featured_price` float NOT NULL,
  `featured_days` int(50) NOT NULL,
  `min_price_range` int(200) NOT NULL,
  `max_price_range` int(200) NOT NULL,
  `promo_icon_1` varchar(200) NOT NULL,
  `promo_title_1` varchar(200) NOT NULL,
  `promo_desc_1` varchar(500) NOT NULL,
  `promo_icon_2` varchar(200) NOT NULL,
  `promo_title_2` varchar(200) NOT NULL,
  `promo_desc_2` varchar(500) NOT NULL,
  `promo_icon_3` varchar(200) NOT NULL,
  `promo_title_3` varchar(200) NOT NULL,
  `promo_desc_3` varchar(500) NOT NULL,
  `promo_icon_4` varchar(200) NOT NULL,
  `promo_title_4` varchar(200) NOT NULL,
  `promo_desc_4` varchar(500) NOT NULL,
  `site_footer_newsletter` text NOT NULL,
  `site_blog_visible` varchar(50) NOT NULL,
  `site_blog_per` int(50) NOT NULL,
  `refund_time_limit` int(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings_meta`
--

DROP TABLE IF EXISTS `settings_meta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `settings_meta` (
  `sett_meta_id` int(11) NOT NULL AUTO_INCREMENT,
  `sett_meta_key` varchar(200) NOT NULL,
  `sett_meta_value` mediumtext NOT NULL,
  PRIMARY KEY (`sett_meta_id`)
) ENGINE=InnoDB AUTO_INCREMENT=63 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings_meta`
--

LOCK TABLES `settings_meta` WRITE;
/*!40000 ALTER TABLE `settings_meta` DISABLE KEYS */;
/*!40000 ALTER TABLE `settings_meta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subcategory`
--

DROP TABLE IF EXISTS `subcategory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subcategory` (
  `subid` int(11) NOT NULL AUTO_INCREMENT,
  `subcat_name` varchar(255) NOT NULL,
  `post_slug` varchar(500) NOT NULL,
  `cat_id` varchar(255) NOT NULL,
  `subimage` varchar(255) NOT NULL,
  `subcat_type` varchar(50) NOT NULL,
  `delete_status` varchar(50) NOT NULL,
  `token` varchar(200) NOT NULL,
  `lang_code` varchar(50) NOT NULL,
  `parent` int(100) NOT NULL,
  `status` int(50) NOT NULL,
  PRIMARY KEY (`subid`)
) ENGINE=InnoDB AUTO_INCREMENT=163 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subcategory`
--

LOCK TABLES `subcategory` WRITE;
/*!40000 ALTER TABLE `subcategory` DISABLE KEYS */;
/*!40000 ALTER TABLE `subcategory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `user_slug` varchar(255) NOT NULL,
  `email` varchar(191) DEFAULT NULL,
  `password` varchar(191) DEFAULT NULL,
  `provider` varchar(191) NOT NULL,
  `provider_id` varchar(191) NOT NULL,
  `gender` varchar(191) NOT NULL,
  `country` varchar(200) NOT NULL,
  `address` text NOT NULL,
  `phone` varchar(191) NOT NULL,
  `photo` varchar(191) NOT NULL,
  `profile_banner` varchar(500) NOT NULL,
  `about` text NOT NULL,
  `wallet` float NOT NULL,
  `confirmation` int(50) NOT NULL,
  `confirm_key` varchar(500) NOT NULL,
  `admin` int(11) NOT NULL,
  `referred_by` varchar(50) NOT NULL,
  `referral_amount` varchar(50) NOT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `delete_status` varchar(50) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_meta`
--

DROP TABLE IF EXISTS `users_meta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_meta` (
  `user_meta_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(200) NOT NULL,
  `user_meta_key` varchar(200) NOT NULL,
  `user_meta_value` longtext NOT NULL,
  PRIMARY KEY (`user_meta_id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_meta`
--

LOCK TABLES `users_meta` WRITE;
/*!40000 ALTER TABLE `users_meta` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_meta` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2020-10-06 22:04:36
