-- MySQL dump 10.13  Distrib 8.0.18, for Win64 (x86_64)
--
-- Host: localhost    Database: loanmgrdb
-- ------------------------------------------------------
-- Server version	8.0.18

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `kpos_app_config`
--

DROP TABLE IF EXISTS `kpos_app_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_app_config` (
  `key` varchar(255) NOT NULL,
  `value` varchar(255) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_app_config`
--

LOCK TABLES `kpos_app_config` WRITE;
/*!40000 ALTER TABLE `kpos_app_config` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpos_app_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_customers`
--

DROP TABLE IF EXISTS `kpos_customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_customers` (
  `person_id` int(10) NOT NULL,
  `account_number` varchar(255) DEFAULT NULL,
  `taxable` int(1) NOT NULL DEFAULT '1',
  `deleted` int(1) NOT NULL DEFAULT '0',
  UNIQUE KEY `account_number` (`account_number`),
  KEY `person_id` (`person_id`),
  CONSTRAINT `kpos_customers_ibfk_1` FOREIGN KEY (`person_id`) REFERENCES `kpos_people` (`person_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_customers`
--

LOCK TABLES `kpos_customers` WRITE;
/*!40000 ALTER TABLE `kpos_customers` DISABLE KEYS */;
INSERT INTO `kpos_customers` VALUES (3,NULL,1,0),(4,NULL,1,0),(5,NULL,1,1),(6,NULL,1,1),(7,NULL,1,1),(8,NULL,1,1),(9,NULL,1,1),(10,NULL,1,0),(11,NULL,1,1),(18,NULL,1,0),(19,NULL,1,0),(20,NULL,1,0),(21,NULL,1,0),(22,NULL,1,0),(46,NULL,1,0),(48,NULL,1,0);
/*!40000 ALTER TABLE `kpos_customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_employees`
--

DROP TABLE IF EXISTS `kpos_employees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_employees` (
  `username` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `person_id` int(10) NOT NULL,
  `deleted` int(1) NOT NULL DEFAULT '0',
  UNIQUE KEY `username` (`username`),
  KEY `person_id` (`person_id`),
  CONSTRAINT `kpos_employees_ibfk_1` FOREIGN KEY (`person_id`) REFERENCES `kpos_people` (`person_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_employees`
--

LOCK TABLES `kpos_employees` WRITE;
/*!40000 ALTER TABLE `kpos_employees` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpos_employees` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_financial_status`
--

DROP TABLE IF EXISTS `kpos_financial_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_financial_status` (
  `financial_status_id` int(11) NOT NULL AUTO_INCREMENT,
  `person_id` int(11) NOT NULL,
  `income_sources` text NOT NULL,
  PRIMARY KEY (`financial_status_id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_financial_status`
--

LOCK TABLES `kpos_financial_status` WRITE;
/*!40000 ALTER TABLE `kpos_financial_status` DISABLE KEYS */;
INSERT INTO `kpos_financial_status` VALUES (1,21,'[\"salary=5000\"]'),(3,22,'[\"salary=12000\",\"online=15000\",\"online=15000\"]'),(4,19,'[\"=\"]'),(5,3,'[\"=\"]'),(6,10,'[\"salary=7000.50\"]'),(7,18,'[\"=\"]'),(8,46,'[\"=\"]'),(9,48,'[\"=\"]');
/*!40000 ALTER TABLE `kpos_financial_status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_giftcards`
--

DROP TABLE IF EXISTS `kpos_giftcards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_giftcards` (
  `record_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `giftcard_id` int(11) NOT NULL AUTO_INCREMENT,
  `giftcard_number` varchar(25) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL,
  `value` decimal(15,2) NOT NULL,
  `deleted` int(1) NOT NULL DEFAULT '0',
  `person_id` int(11) NOT NULL,
  PRIMARY KEY (`giftcard_id`),
  UNIQUE KEY `giftcard_number` (`giftcard_number`),
  KEY `ospos_giftcards_ibfk_1` (`person_id`),
  CONSTRAINT `kpos_giftcards_ibfk_1` FOREIGN KEY (`person_id`) REFERENCES `kpos_people` (`person_id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_giftcards`
--

LOCK TABLES `kpos_giftcards` WRITE;
/*!40000 ALTER TABLE `kpos_giftcards` DISABLE KEYS */;
INSERT INTO `kpos_giftcards` VALUES ('2015-04-16 21:36:49',2,'1',50.00,1,3),('2015-04-16 21:58:05',3,'2',40.00,1,4),('2015-04-16 22:40:49',4,'3',33.00,0,3),('2015-04-16 22:41:04',5,'4',12.00,0,4),('2015-04-16 22:41:28',6,'5',12.00,0,10),('2015-04-16 22:57:32',7,'6',12.00,0,10),('2015-04-16 22:58:35',8,'7',2.00,0,4),('2015-04-16 23:01:00',9,'8',2.00,0,10),('2015-04-16 23:01:52',10,'9',20.00,0,4);
/*!40000 ALTER TABLE `kpos_giftcards` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_grants`
--

DROP TABLE IF EXISTS `kpos_grants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_grants` (
  `permission_id` varchar(255) NOT NULL,
  `person_id` int(10) NOT NULL,
  PRIMARY KEY (`permission_id`,`person_id`),
  KEY `ospos_grants_ibfk_2` (`person_id`),
  CONSTRAINT `kpos_grants_ibfk_1` FOREIGN KEY (`permission_id`) REFERENCES `kpos_permissions` (`permission_id`),
  CONSTRAINT `kpos_grants_ibfk_2` FOREIGN KEY (`person_id`) REFERENCES `kpos_employees` (`person_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_grants`
--

LOCK TABLES `kpos_grants` WRITE;
/*!40000 ALTER TABLE `kpos_grants` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpos_grants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_guarantee`
--

DROP TABLE IF EXISTS `kpos_guarantee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_guarantee` (
  `guarantee_id` int(11) NOT NULL AUTO_INCREMENT,
  `loan_id` int(11) NOT NULL DEFAULT '0',
  `name` varchar(300) NOT NULL,
  `type` varchar(300) NOT NULL,
  `brand` varchar(50) NOT NULL,
  `price` decimal(10,2) NOT NULL,
  `images` varchar(1000) NOT NULL,
  `observations` varchar(1000) NOT NULL,
  PRIMARY KEY (`guarantee_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_guarantee`
--

LOCK TABLES `kpos_guarantee` WRITE;
/*!40000 ALTER TABLE `kpos_guarantee` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpos_guarantee` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_inventory`
--

DROP TABLE IF EXISTS `kpos_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_inventory` (
  `trans_id` int(11) NOT NULL AUTO_INCREMENT,
  `trans_items` int(11) NOT NULL DEFAULT '0',
  `trans_user` int(11) NOT NULL DEFAULT '0',
  `trans_date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `trans_comment` text NOT NULL,
  `trans_location` int(11) NOT NULL,
  `trans_inventory` int(11) NOT NULL DEFAULT '0',
  PRIMARY KEY (`trans_id`),
  KEY `trans_items` (`trans_items`),
  KEY `trans_user` (`trans_user`),
  KEY `trans_location` (`trans_location`),
  CONSTRAINT `kpos_inventory_ibfk_1` FOREIGN KEY (`trans_items`) REFERENCES `kpos_items` (`item_id`),
  CONSTRAINT `kpos_inventory_ibfk_2` FOREIGN KEY (`trans_user`) REFERENCES `kpos_employees` (`person_id`)
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_inventory`
--

LOCK TABLES `kpos_inventory` WRITE;
/*!40000 ALTER TABLE `kpos_inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpos_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_item_kit_items`
--

DROP TABLE IF EXISTS `kpos_item_kit_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_item_kit_items` (
  `item_kit_id` int(11) NOT NULL,
  `item_id` int(11) NOT NULL,
  `quantity` decimal(15,2) NOT NULL,
  PRIMARY KEY (`item_kit_id`,`item_id`,`quantity`),
  KEY `ospos_item_kit_items_ibfk_2` (`item_id`),
  CONSTRAINT `kpos_item_kit_items_ibfk_1` FOREIGN KEY (`item_kit_id`) REFERENCES `kpos_item_kits` (`item_kit_id`) ON DELETE CASCADE,
  CONSTRAINT `kpos_item_kit_items_ibfk_2` FOREIGN KEY (`item_id`) REFERENCES `kpos_items` (`item_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_item_kit_items`
--

LOCK TABLES `kpos_item_kit_items` WRITE;
/*!40000 ALTER TABLE `kpos_item_kit_items` DISABLE KEYS */;
INSERT INTO `kpos_item_kit_items` VALUES (1,1,2.00),(2,1,1.00),(1,10,1.00),(2,13,1.00);
/*!40000 ALTER TABLE `kpos_item_kit_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_item_kits`
--

DROP TABLE IF EXISTS `kpos_item_kits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_item_kits` (
  `item_kit_id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` varchar(255) NOT NULL,
  PRIMARY KEY (`item_kit_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_item_kits`
--

LOCK TABLES `kpos_item_kits` WRITE;
/*!40000 ALTER TABLE `kpos_item_kits` DISABLE KEYS */;
INSERT INTO `kpos_item_kits` VALUES (1,'test123','test'),(2,'hello world','fasdf asdf asdf');
/*!40000 ALTER TABLE `kpos_item_kits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_item_quantities`
--

DROP TABLE IF EXISTS `kpos_item_quantities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_item_quantities` (
  `item_id` int(11) NOT NULL,
  `location_id` int(11) NOT NULL,
  `quantity` int(11) NOT NULL DEFAULT '0',
  PRIMARY KEY (`item_id`,`location_id`),
  KEY `item_id` (`item_id`),
  KEY `location_id` (`location_id`),
  CONSTRAINT `kpos_item_quantities_ibfk_1` FOREIGN KEY (`item_id`) REFERENCES `kpos_items` (`item_id`),
  CONSTRAINT `kpos_item_quantities_ibfk_2` FOREIGN KEY (`location_id`) REFERENCES `kpos_stock_locations` (`location_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_item_quantities`
--

LOCK TABLES `kpos_item_quantities` WRITE;
/*!40000 ALTER TABLE `kpos_item_quantities` DISABLE KEYS */;
INSERT INTO `kpos_item_quantities` VALUES (1,1,0),(1,2,0),(2,1,94),(2,2,0),(3,1,50),(4,1,-10),(4,2,0),(5,2,0),(6,2,0),(7,1,-1),(7,2,0),(8,1,15),(9,1,5),(10,1,-6),(10,2,0),(11,1,-11),(11,2,0),(12,1,4),(13,1,-8),(13,2,0);
/*!40000 ALTER TABLE `kpos_item_quantities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_items`
--

DROP TABLE IF EXISTS `kpos_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_items` (
  `name` varchar(255) NOT NULL,
  `category` varchar(255) NOT NULL,
  `supplier_id` int(11) DEFAULT NULL,
  `item_number` varchar(255) DEFAULT NULL,
  `description` varchar(255) NOT NULL,
  `cost_price` decimal(15,2) NOT NULL,
  `unit_price` decimal(15,2) NOT NULL,
  `reorder_level` decimal(15,2) NOT NULL DEFAULT '0.00',
  `receiving_quantity` int(11) NOT NULL DEFAULT '1',
  `item_id` int(10) NOT NULL AUTO_INCREMENT,
  `allow_alt_description` tinyint(1) NOT NULL,
  `is_serialized` tinyint(1) NOT NULL,
  `deleted` int(1) NOT NULL DEFAULT '0',
  `custom1` varchar(25) NOT NULL,
  `custom2` varchar(25) NOT NULL,
  `custom3` varchar(25) NOT NULL,
  `custom4` varchar(25) NOT NULL,
  `custom5` varchar(25) NOT NULL,
  `custom6` varchar(25) NOT NULL,
  `custom7` varchar(25) NOT NULL,
  `custom8` varchar(25) NOT NULL,
  `custom9` varchar(25) NOT NULL,
  `custom10` varchar(25) NOT NULL,
  PRIMARY KEY (`item_id`),
  UNIQUE KEY `item_number` (`item_number`),
  KEY `ospos_items_ibfk_1` (`supplier_id`),
  CONSTRAINT `kpos_items_ibfk_1` FOREIGN KEY (`supplier_id`) REFERENCES `kpos_suppliers` (`person_id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_items`
--

LOCK TABLES `kpos_items` WRITE;
/*!40000 ALTER TABLE `kpos_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpos_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_items_taxes`
--

DROP TABLE IF EXISTS `kpos_items_taxes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_items_taxes` (
  `item_id` int(10) NOT NULL,
  `name` varchar(255) NOT NULL,
  `percent` decimal(15,2) NOT NULL,
  PRIMARY KEY (`item_id`,`name`,`percent`),
  CONSTRAINT `kpos_items_taxes_ibfk_1` FOREIGN KEY (`item_id`) REFERENCES `kpos_items` (`item_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_items_taxes`
--

LOCK TABLES `kpos_items_taxes` WRITE;
/*!40000 ALTER TABLE `kpos_items_taxes` DISABLE KEYS */;
INSERT INTO `kpos_items_taxes` VALUES (1,'',12.00),(2,'Sales Tax',5.00),(3,'None',0.00),(4,'',0.00),(5,'',0.00),(6,'',0.00),(7,'',0.00),(8,'',0.00),(9,'',0.00),(10,'',0.00),(11,'',0.00),(12,'',0.00),(13,'',0.00);
/*!40000 ALTER TABLE `kpos_items_taxes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_loan_payments`
--

DROP TABLE IF EXISTS `kpos_loan_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_loan_payments` (
  `loan_payment_id` int(11) NOT NULL AUTO_INCREMENT,
  `account` varchar(50) NOT NULL DEFAULT '0',
  `loan_id` int(11) NOT NULL,
  `customer_id` int(11) NOT NULL,
  `balance_amount` decimal(10,2) NOT NULL,
  `paid_amount` decimal(10,2) NOT NULL,
  `teller_id` int(11) NOT NULL,
  `date_paid` int(11) NOT NULL,
  `date_modified` int(11) NOT NULL,
  `modified_by` int(11) NOT NULL,
  `remarks` varchar(2000) NOT NULL,
  `delete_flag` int(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`loan_payment_id`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_loan_payments`
--

LOCK TABLES `kpos_loan_payments` WRITE;
/*!40000 ALTER TABLE `kpos_loan_payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpos_loan_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_loan_types`
--

DROP TABLE IF EXISTS `kpos_loan_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_loan_types` (
  `loan_type_id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` varchar(255) NOT NULL,
  `term` int(11) NOT NULL,
  `term_period_type` varchar(50) NOT NULL,
  `payment_schedule` varchar(50) NOT NULL,
  `percent_charge1` decimal(10,2) NOT NULL,
  `period_charge1` int(11) NOT NULL,
  `period_type1` varchar(50) NOT NULL,
  `percent_charge2` decimal(10,2) NOT NULL,
  `period_charge2` int(11) NOT NULL,
  `period_type2` varchar(50) NOT NULL,
  `percent_charge3` decimal(10,2) NOT NULL,
  `period_charge3` int(11) NOT NULL,
  `period_type3` varchar(50) NOT NULL,
  `percent_charge4` decimal(10,2) NOT NULL,
  `period_charge4` int(11) NOT NULL,
  `period_type4` varchar(50) NOT NULL,
  `percent_charge5` decimal(10,2) NOT NULL,
  `period_charge5` int(11) NOT NULL,
  `period_type5` varchar(50) NOT NULL,
  `percent_charge6` decimal(10,2) NOT NULL,
  `period_charge6` int(11) NOT NULL,
  `period_type6` varchar(50) NOT NULL,
  `percent_charge7` decimal(10,2) NOT NULL,
  `period_charge7` int(11) NOT NULL,
  `period_type7` varchar(50) NOT NULL,
  `percent_charge8` decimal(10,2) NOT NULL,
  `period_charge8` int(11) NOT NULL,
  `period_type8` varchar(50) NOT NULL,
  `percent_charge9` decimal(10,2) NOT NULL,
  `period_charge9` int(11) NOT NULL,
  `period_type9` varchar(50) NOT NULL,
  `percent_charge10` decimal(10,2) NOT NULL,
  `period_charge10` int(11) NOT NULL,
  `period_type10` varchar(50) NOT NULL,
  `added_by` int(11) NOT NULL,
  `date_added` int(11) NOT NULL,
  `modified_by` int(11) NOT NULL,
  `date_modified` int(11) NOT NULL,
  PRIMARY KEY (`loan_type_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_loan_types`
--

LOCK TABLES `kpos_loan_types` WRITE;
/*!40000 ALTER TABLE `kpos_loan_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpos_loan_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_loans`
--

DROP TABLE IF EXISTS `kpos_loans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_loans` (
  `loan_id` int(11) NOT NULL AUTO_INCREMENT,
  `account` varchar(50) NOT NULL,
  `description` varchar(300) NOT NULL,
  `remarks` varchar(300) NOT NULL,
  `loan_type_id` int(11) NOT NULL,
  `customer_id` int(11) NOT NULL,
  `loan_amount` decimal(10,2) NOT NULL,
  `loan_balance` decimal(10,2) NOT NULL,
  `loan_status` enum('pending','approved','on going','paid') NOT NULL,
  `loan_agent_id` int(11) NOT NULL,
  `loan_approved_by_id` int(11) NOT NULL,
  `loan_reviewed_by_id` int(11) NOT NULL,
  `loan_applied_date` int(11) NOT NULL,
  `loan_payment_date` int(11) NOT NULL,
  `misc_fees` text NOT NULL,
  `delete_flag` int(11) NOT NULL,
  PRIMARY KEY (`loan_id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_loans`
--

LOCK TABLES `kpos_loans` WRITE;
/*!40000 ALTER TABLE `kpos_loans` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpos_loans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_modules`
--

DROP TABLE IF EXISTS `kpos_modules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_modules` (
  `module_id` varchar(255) NOT NULL,
  `name_lang_key` varchar(255) NOT NULL,
  `desc_lang_key` varchar(255) NOT NULL,
  `sort` int(10) NOT NULL,
  `icons` varchar(255) NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`module_id`),
  UNIQUE KEY `desc_lang_key` (`desc_lang_key`),
  UNIQUE KEY `name_lang_key` (`name_lang_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_modules`
--

LOCK TABLES `kpos_modules` WRITE;
/*!40000 ALTER TABLE `kpos_modules` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpos_modules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_payment_schedules`
--

DROP TABLE IF EXISTS `kpos_payment_schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_payment_schedules` (
  `payment_schedule_id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `recurrence` int(11) NOT NULL DEFAULT '0',
  `delete_flag` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`payment_schedule_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_payment_schedules`
--

LOCK TABLES `kpos_payment_schedules` WRITE;
/*!40000 ALTER TABLE `kpos_payment_schedules` DISABLE KEYS */;
INSERT INTO `kpos_payment_schedules` VALUES (1,'weekly',0,0),(2,'biweekly',0,0),(3,'monthly',0,0),(4,'bimonthly',0,0);
/*!40000 ALTER TABLE `kpos_payment_schedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_people`
--

DROP TABLE IF EXISTS `kpos_people`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_people` (
  `person_id` int(10) NOT NULL AUTO_INCREMENT,
  `first_name` varchar(255) NOT NULL,
  `last_name` varchar(255) NOT NULL,
  `photo_url` varchar(255) NOT NULL,
  `phone_number` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `address_1` varchar(255) NOT NULL,
  `address_2` varchar(255) NOT NULL,
  `city` varchar(255) NOT NULL,
  `state` varchar(255) NOT NULL,
  `zip` varchar(255) NOT NULL,
  `country` varchar(255) NOT NULL,
  `comments` text NOT NULL,
  PRIMARY KEY (`person_id`)
) ENGINE=InnoDB AUTO_INCREMENT=49 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_people`
--

LOCK TABLES `kpos_people` WRITE;
/*!40000 ALTER TABLE `kpos_people` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpos_people` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_permissions`
--

DROP TABLE IF EXISTS `kpos_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_permissions` (
  `permission_id` varchar(255) NOT NULL,
  `module_id` varchar(255) NOT NULL,
  `location_id` int(10) DEFAULT NULL,
  PRIMARY KEY (`permission_id`),
  KEY `module_id` (`module_id`),
  KEY `ospos_permissions_ibfk_2` (`location_id`),
  CONSTRAINT `kpos_permissions_ibfk_1` FOREIGN KEY (`module_id`) REFERENCES `kpos_modules` (`module_id`) ON DELETE CASCADE,
  CONSTRAINT `kpos_permissions_ibfk_2` FOREIGN KEY (`location_id`) REFERENCES `kpos_stock_locations` (`location_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_permissions`
--

LOCK TABLES `kpos_permissions` WRITE;
/*!40000 ALTER TABLE `kpos_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpos_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_receivings`
--

DROP TABLE IF EXISTS `kpos_receivings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_receivings` (
  `receiving_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `supplier_id` int(10) DEFAULT NULL,
  `employee_id` int(10) NOT NULL DEFAULT '0',
  `comment` text NOT NULL,
  `receiving_id` int(10) NOT NULL AUTO_INCREMENT,
  `payment_type` varchar(20) DEFAULT NULL,
  `invoice_number` varchar(32) DEFAULT NULL,
  PRIMARY KEY (`receiving_id`),
  UNIQUE KEY `invoice_number` (`invoice_number`),
  KEY `supplier_id` (`supplier_id`),
  KEY `employee_id` (`employee_id`),
  CONSTRAINT `kpos_receivings_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `kpos_employees` (`person_id`),
  CONSTRAINT `kpos_receivings_ibfk_2` FOREIGN KEY (`supplier_id`) REFERENCES `kpos_suppliers` (`person_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_receivings`
--

LOCK TABLES `kpos_receivings` WRITE;
/*!40000 ALTER TABLE `kpos_receivings` DISABLE KEYS */;
INSERT INTO `kpos_receivings` VALUES ('2015-04-19 21:47:53',NULL,1,'',1,'Cash',NULL);
/*!40000 ALTER TABLE `kpos_receivings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_receivings_items`
--

DROP TABLE IF EXISTS `kpos_receivings_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_receivings_items` (
  `receiving_id` int(10) NOT NULL DEFAULT '0',
  `item_id` int(10) NOT NULL DEFAULT '0',
  `description` varchar(30) DEFAULT NULL,
  `serialnumber` varchar(30) DEFAULT NULL,
  `line` int(3) NOT NULL,
  `quantity_purchased` decimal(15,2) NOT NULL DEFAULT '0.00',
  `item_cost_price` decimal(15,2) NOT NULL,
  `item_unit_price` decimal(15,2) NOT NULL,
  `discount_percent` decimal(15,2) NOT NULL DEFAULT '0.00',
  `item_location` int(11) NOT NULL,
  PRIMARY KEY (`receiving_id`,`item_id`,`line`),
  KEY `item_id` (`item_id`),
  CONSTRAINT `kpos_receivings_items_ibfk_1` FOREIGN KEY (`item_id`) REFERENCES `kpos_items` (`item_id`),
  CONSTRAINT `kpos_receivings_items_ibfk_2` FOREIGN KEY (`receiving_id`) REFERENCES `kpos_receivings` (`receiving_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_receivings_items`
--

LOCK TABLES `kpos_receivings_items` WRITE;
/*!40000 ALTER TABLE `kpos_receivings_items` DISABLE KEYS */;
INSERT INTO `kpos_receivings_items` VALUES (1,13,'','',1,1.00,4.00,4.00,0.00,1);
/*!40000 ALTER TABLE `kpos_receivings_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_sales`
--

DROP TABLE IF EXISTS `kpos_sales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_sales` (
  `sale_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `customer_id` int(10) DEFAULT NULL,
  `employee_id` int(10) NOT NULL DEFAULT '0',
  `comment` text NOT NULL,
  `invoice_number` varchar(32) DEFAULT NULL,
  `sale_id` int(10) NOT NULL AUTO_INCREMENT,
  `payment_type` varchar(512) DEFAULT NULL,
  PRIMARY KEY (`sale_id`),
  UNIQUE KEY `invoice_number` (`invoice_number`),
  KEY `customer_id` (`customer_id`),
  KEY `employee_id` (`employee_id`),
  CONSTRAINT `kpos_sales_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `kpos_employees` (`person_id`),
  CONSTRAINT `kpos_sales_ibfk_2` FOREIGN KEY (`customer_id`) REFERENCES `kpos_customers` (`person_id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_sales`
--

LOCK TABLES `kpos_sales` WRITE;
/*!40000 ALTER TABLE `kpos_sales` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpos_sales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_sales_items`
--

DROP TABLE IF EXISTS `kpos_sales_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_sales_items` (
  `sale_id` int(10) NOT NULL DEFAULT '0',
  `item_id` int(10) NOT NULL DEFAULT '0',
  `description` varchar(30) DEFAULT NULL,
  `serialnumber` varchar(30) DEFAULT NULL,
  `line` int(3) NOT NULL DEFAULT '0',
  `quantity_purchased` decimal(15,2) NOT NULL DEFAULT '0.00',
  `item_cost_price` decimal(15,2) NOT NULL,
  `item_unit_price` decimal(15,2) NOT NULL,
  `discount_percent` decimal(15,2) NOT NULL DEFAULT '0.00',
  `item_location` int(11) NOT NULL,
  PRIMARY KEY (`sale_id`,`item_id`,`line`),
  KEY `sale_id` (`sale_id`),
  KEY `item_id` (`item_id`),
  KEY `item_location` (`item_location`),
  CONSTRAINT `kpos_sales_items_ibfk_1` FOREIGN KEY (`item_id`) REFERENCES `kpos_items` (`item_id`),
  CONSTRAINT `kpos_sales_items_ibfk_2` FOREIGN KEY (`sale_id`) REFERENCES `kpos_sales` (`sale_id`),
  CONSTRAINT `kpos_sales_items_ibfk_3` FOREIGN KEY (`item_location`) REFERENCES `kpos_stock_locations` (`location_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_sales_items`
--

LOCK TABLES `kpos_sales_items` WRITE;
/*!40000 ALTER TABLE `kpos_sales_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpos_sales_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_sales_items_taxes`
--

DROP TABLE IF EXISTS `kpos_sales_items_taxes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_sales_items_taxes` (
  `sale_id` int(10) NOT NULL,
  `item_id` int(10) NOT NULL,
  `line` int(3) NOT NULL DEFAULT '0',
  `name` varchar(255) NOT NULL,
  `percent` decimal(15,2) NOT NULL,
  PRIMARY KEY (`sale_id`,`item_id`,`line`,`name`,`percent`),
  KEY `sale_id` (`sale_id`),
  KEY `item_id` (`item_id`),
  CONSTRAINT `kpos_sales_items_taxes_ibfk_1` FOREIGN KEY (`sale_id`) REFERENCES `kpos_sales_items` (`sale_id`),
  CONSTRAINT `kpos_sales_items_taxes_ibfk_2` FOREIGN KEY (`item_id`) REFERENCES `kpos_items` (`item_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_sales_items_taxes`
--

LOCK TABLES `kpos_sales_items_taxes` WRITE;
/*!40000 ALTER TABLE `kpos_sales_items_taxes` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpos_sales_items_taxes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_sales_payments`
--

DROP TABLE IF EXISTS `kpos_sales_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_sales_payments` (
  `sale_id` int(10) NOT NULL,
  `payment_type` varchar(40) NOT NULL,
  `payment_amount` decimal(15,2) NOT NULL,
  PRIMARY KEY (`sale_id`,`payment_type`),
  KEY `sale_id` (`sale_id`),
  CONSTRAINT `kpos_sales_payments_ibfk_1` FOREIGN KEY (`sale_id`) REFERENCES `kpos_sales` (`sale_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_sales_payments`
--

LOCK TABLES `kpos_sales_payments` WRITE;
/*!40000 ALTER TABLE `kpos_sales_payments` DISABLE KEYS */;
INSERT INTO `kpos_sales_payments` VALUES (1,'Cash',100.00),(2,'Cash',52.08),(3,'Cash',52.08),(4,'Cash',104.16),(5,'Cash',102.08),(6,'Cash',52.08),(7,'Cash',52.08),(8,'Cash',-52.08),(9,'Cash',140.16),(10,'Cash',176.16),(11,'Cash',-88.08),(12,'Cash',88.08),(13,'Cash',52.08),(14,'Cash',88.08),(15,'Cash',104.16),(16,'Cash',140.16),(17,'Cash',212.16),(18,'Cash',20.00),(18,'Credit Card',32.08),(19,'Cash',-345.05),(19,'Check',610.10),(19,'Credit Card',40.00),(20,'Cash',60.00),(21,'Cash',500.00);
/*!40000 ALTER TABLE `kpos_sales_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_sales_suspended`
--

DROP TABLE IF EXISTS `kpos_sales_suspended`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_sales_suspended` (
  `sale_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `customer_id` int(10) DEFAULT NULL,
  `employee_id` int(10) NOT NULL DEFAULT '0',
  `comment` text NOT NULL,
  `invoice_number` varchar(32) DEFAULT NULL,
  `sale_id` int(10) NOT NULL AUTO_INCREMENT,
  `payment_type` varchar(512) DEFAULT NULL,
  PRIMARY KEY (`sale_id`),
  UNIQUE KEY `invoice_number` (`invoice_number`),
  KEY `customer_id` (`customer_id`),
  KEY `employee_id` (`employee_id`),
  CONSTRAINT `kpos_sales_suspended_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `kpos_employees` (`person_id`),
  CONSTRAINT `kpos_sales_suspended_ibfk_2` FOREIGN KEY (`customer_id`) REFERENCES `kpos_customers` (`person_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_sales_suspended`
--

LOCK TABLES `kpos_sales_suspended` WRITE;
/*!40000 ALTER TABLE `kpos_sales_suspended` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpos_sales_suspended` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_sales_suspended_items`
--

DROP TABLE IF EXISTS `kpos_sales_suspended_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_sales_suspended_items` (
  `sale_id` int(10) NOT NULL DEFAULT '0',
  `item_id` int(10) NOT NULL DEFAULT '0',
  `description` varchar(30) DEFAULT NULL,
  `serialnumber` varchar(30) DEFAULT NULL,
  `line` int(3) NOT NULL DEFAULT '0',
  `quantity_purchased` decimal(15,2) NOT NULL DEFAULT '0.00',
  `item_cost_price` decimal(15,2) NOT NULL,
  `item_unit_price` decimal(15,2) NOT NULL,
  `discount_percent` decimal(15,2) NOT NULL DEFAULT '0.00',
  `item_location` int(11) NOT NULL,
  PRIMARY KEY (`sale_id`,`item_id`,`line`),
  KEY `sale_id` (`sale_id`),
  KEY `item_id` (`item_id`),
  KEY `ospos_sales_suspended_items_ibfk_3` (`item_location`),
  CONSTRAINT `kpos_sales_suspended_items_ibfk_1` FOREIGN KEY (`item_id`) REFERENCES `kpos_items` (`item_id`),
  CONSTRAINT `kpos_sales_suspended_items_ibfk_2` FOREIGN KEY (`sale_id`) REFERENCES `kpos_sales_suspended` (`sale_id`),
  CONSTRAINT `kpos_sales_suspended_items_ibfk_3` FOREIGN KEY (`item_location`) REFERENCES `kpos_stock_locations` (`location_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_sales_suspended_items`
--

LOCK TABLES `kpos_sales_suspended_items` WRITE;
/*!40000 ALTER TABLE `kpos_sales_suspended_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpos_sales_suspended_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_sales_suspended_items_taxes`
--

DROP TABLE IF EXISTS `kpos_sales_suspended_items_taxes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_sales_suspended_items_taxes` (
  `sale_id` int(10) NOT NULL,
  `item_id` int(10) NOT NULL,
  `line` int(3) NOT NULL DEFAULT '0',
  `name` varchar(255) NOT NULL,
  `percent` decimal(15,2) NOT NULL,
  PRIMARY KEY (`sale_id`,`item_id`,`line`,`name`,`percent`),
  KEY `item_id` (`item_id`),
  CONSTRAINT `kpos_sales_suspended_items_taxes_ibfk_1` FOREIGN KEY (`sale_id`) REFERENCES `kpos_sales_suspended_items` (`sale_id`),
  CONSTRAINT `kpos_sales_suspended_items_taxes_ibfk_2` FOREIGN KEY (`item_id`) REFERENCES `kpos_items` (`item_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_sales_suspended_items_taxes`
--

LOCK TABLES `kpos_sales_suspended_items_taxes` WRITE;
/*!40000 ALTER TABLE `kpos_sales_suspended_items_taxes` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpos_sales_suspended_items_taxes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_sales_suspended_payments`
--

DROP TABLE IF EXISTS `kpos_sales_suspended_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_sales_suspended_payments` (
  `sale_id` int(10) NOT NULL,
  `payment_type` varchar(40) NOT NULL,
  `payment_amount` decimal(15,2) NOT NULL,
  PRIMARY KEY (`sale_id`,`payment_type`),
  CONSTRAINT `kpos_sales_suspended_payments_ibfk_1` FOREIGN KEY (`sale_id`) REFERENCES `kpos_sales_suspended` (`sale_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_sales_suspended_payments`
--

LOCK TABLES `kpos_sales_suspended_payments` WRITE;
/*!40000 ALTER TABLE `kpos_sales_suspended_payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpos_sales_suspended_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_sessions`
--

DROP TABLE IF EXISTS `kpos_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_sessions` (
  `session_id` varchar(40) NOT NULL DEFAULT '0',
  `ip_address` varchar(45) NOT NULL DEFAULT '0',
  `user_agent` varchar(120) NOT NULL,
  `last_activity` int(10) unsigned NOT NULL DEFAULT '0',
  `user_data` text,
  PRIMARY KEY (`session_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_sessions`
--

LOCK TABLES `kpos_sessions` WRITE;
/*!40000 ALTER TABLE `kpos_sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpos_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_stock_locations`
--

DROP TABLE IF EXISTS `kpos_stock_locations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_stock_locations` (
  `location_id` int(11) NOT NULL AUTO_INCREMENT,
  `location_name` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `deleted` int(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`location_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_stock_locations`
--

LOCK TABLES `kpos_stock_locations` WRITE;
/*!40000 ALTER TABLE `kpos_stock_locations` DISABLE KEYS */;
INSERT INTO `kpos_stock_locations` VALUES (1,'stock',1),(2,'',0);
/*!40000 ALTER TABLE `kpos_stock_locations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpos_suppliers`
--

DROP TABLE IF EXISTS `kpos_suppliers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpos_suppliers` (
  `person_id` int(10) NOT NULL,
  `company_name` varchar(255) NOT NULL,
  `account_number` varchar(255) DEFAULT NULL,
  `deleted` int(1) NOT NULL DEFAULT '0',
  UNIQUE KEY `account_number` (`account_number`),
  KEY `person_id` (`person_id`),
  CONSTRAINT `kpos_suppliers_ibfk_1` FOREIGN KEY (`person_id`) REFERENCES `kpos_people` (`person_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpos_suppliers`
--

LOCK TABLES `kpos_suppliers` WRITE;
/*!40000 ALTER TABLE `kpos_suppliers` DISABLE KEYS */;
INSERT INTO `kpos_suppliers` VALUES (12,'zuellig pharma',NULL,0),(13,'test123',NULL,1),(14,'new company',NULL,0),(16,'bacolod columbia',NULL,0),(17,'jb marketing',NULL,1);
/*!40000 ALTER TABLE `kpos_suppliers` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2020-10-06 22:08:20
