-- MySQL dump 10.13  Distrib 8.0.18, for Win64 (x86_64)
--
-- Host: localhost    Database: lyftclonedb
-- ------------------------------------------------------
-- Server version	8.0.18

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `tj_categorie_user`
--

DROP TABLE IF EXISTS `tj_categorie_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tj_categorie_user` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `libelle` varchar(21) NOT NULL,
  `creer` datetime NOT NULL,
  `modifier` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tj_categorie_user`
--

LOCK TABLES `tj_categorie_user` WRITE;
/*!40000 ALTER TABLE `tj_categorie_user` DISABLE KEYS */;
INSERT INTO `tj_categorie_user` VALUES (1,'Super administrator','2019-09-19 10:44:50','2019-09-20 10:48:04'),(3,'Administrator','2019-09-19 10:47:40','0000-00-00 00:00:00');
/*!40000 ALTER TABLE `tj_categorie_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tj_commission`
--

DROP TABLE IF EXISTS `tj_commission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tj_commission` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `libelle` varchar(21) NOT NULL,
  `value` varchar(21) NOT NULL,
  `type` varchar(21) NOT NULL,
  `statut` varchar(5) NOT NULL,
  `creer` datetime NOT NULL,
  `modifier` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tj_commission`
--

LOCK TABLES `tj_commission` WRITE;
/*!40000 ALTER TABLE `tj_commission` DISABLE KEYS */;
INSERT INTO `tj_commission` VALUES (5,'$27','0.27','Percentage','yes','2019-11-30 09:25:56','2019-12-10 08:45:53'),(6,'$37','37','Fixed','yes','2019-12-10 08:45:25','2019-12-10 08:45:40');
/*!40000 ALTER TABLE `tj_commission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tj_conducteur`
--

DROP TABLE IF EXISTS `tj_conducteur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tj_conducteur` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(21) NOT NULL,
  `prenom` varchar(21) NOT NULL,
  `cnib` varchar(10) NOT NULL,
  `phone` varchar(100) NOT NULL,
  `mdp` varchar(100) NOT NULL,
  `latitude` varchar(21) NOT NULL,
  `longitude` varchar(21) NOT NULL,
  `email` varchar(100) NOT NULL,
  `statut` varchar(5) NOT NULL,
  `statut_licence` varchar(10) NOT NULL,
  `statut_nic` varchar(10) NOT NULL,
  `statut_vehicule` varchar(10) NOT NULL,
  `online` varchar(5) NOT NULL,
  `login_type` varchar(21) NOT NULL,
  `photo` text NOT NULL,
  `photo_path` text NOT NULL,
  `photo_licence` text NOT NULL,
  `photo_licence_path` text NOT NULL,
  `photo_nic` text NOT NULL,
  `photo_nic_path` text NOT NULL,
  `tonotify` varchar(5) NOT NULL,
  `device_id` text NOT NULL,
  `fcm_id` text NOT NULL,
  `creer` datetime NOT NULL,
  `modifier` datetime NOT NULL,
  `amount` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=48 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tj_conducteur`
--

LOCK TABLES `tj_conducteur` WRITE;
/*!40000 ALTER TABLE `tj_conducteur` DISABLE KEYS */;
/*!40000 ALTER TABLE `tj_conducteur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tj_country`
--

DROP TABLE IF EXISTS `tj_country`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tj_country` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `libelle` varchar(21) NOT NULL,
  `code` varchar(5) NOT NULL,
  `statut` varchar(5) NOT NULL,
  `creer` datetime NOT NULL,
  `modifier` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tj_country`
--

LOCK TABLES `tj_country` WRITE;
/*!40000 ALTER TABLE `tj_country` DISABLE KEYS */;
/*!40000 ALTER TABLE `tj_country` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tj_currency`
--

DROP TABLE IF EXISTS `tj_currency`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tj_currency` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `libelle` varchar(21) NOT NULL,
  `symbole` varchar(21) NOT NULL,
  `statut` varchar(5) NOT NULL,
  `creer` datetime NOT NULL,
  `modifier` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tj_currency`
--

LOCK TABLES `tj_currency` WRITE;
/*!40000 ALTER TABLE `tj_currency` DISABLE KEYS */;
INSERT INTO `tj_currency` VALUES (1,'Dollar','$','yes','2019-11-16 11:43:18','2019-11-20 18:16:38'),(2,'Franc CFA','XOF','no','2019-11-16 11:43:46','2019-11-20 18:16:49'),(3,'Indian ruppe','Rs','no','2019-11-16 11:43:59','2019-11-20 18:16:56'),(4,'Euro','EUR','no','2019-11-16 11:45:43','2019-11-20 18:17:19');
/*!40000 ALTER TABLE `tj_currency` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tj_favorite_ride`
--

DROP TABLE IF EXISTS `tj_favorite_ride`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tj_favorite_ride` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `latitude_depart` varchar(21) NOT NULL,
  `longitude_depart` varchar(21) NOT NULL,
  `latitude_arrivee` varchar(21) NOT NULL,
  `longitude_arrivee` varchar(21) NOT NULL,
  `depart_name` varchar(200) NOT NULL,
  `destination_name` varchar(200) NOT NULL,
  `distance` int(11) NOT NULL,
  `statut` varchar(10) NOT NULL,
  `creer` datetime NOT NULL,
  `modifier` datetime NOT NULL,
  `id_user_app` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_user_app` (`id_user_app`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tj_favorite_ride`
--

LOCK TABLES `tj_favorite_ride` WRITE;
/*!40000 ALTER TABLE `tj_favorite_ride` DISABLE KEYS */;
/*!40000 ALTER TABLE `tj_favorite_ride` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tj_location_vehicule`
--

DROP TABLE IF EXISTS `tj_location_vehicule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tj_location_vehicule` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nb_jour` int(11) NOT NULL,
  `date_debut` date NOT NULL,
  `date_fin` date NOT NULL,
  `contact` varchar(21) NOT NULL,
  `statut` varchar(5) NOT NULL,
  `creer` datetime NOT NULL,
  `modifier` datetime NOT NULL,
  `id_vehicule_rental` int(11) NOT NULL,
  `id_user_app` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_vehicule_rental` (`id_vehicule_rental`,`id_user_app`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tj_location_vehicule`
--

LOCK TABLES `tj_location_vehicule` WRITE;
/*!40000 ALTER TABLE `tj_location_vehicule` DISABLE KEYS */;
/*!40000 ALTER TABLE `tj_location_vehicule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tj_message`
--

DROP TABLE IF EXISTS `tj_message`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tj_message` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `message` text NOT NULL,
  `id_requete` int(11) NOT NULL,
  `id_user_app` int(11) NOT NULL,
  `id_conducteur` int(11) NOT NULL,
  `creer` datetime NOT NULL,
  `modifier` datetime NOT NULL,
  `user_cat` varchar(21) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_user_app` (`id_user_app`,`id_conducteur`),
  KEY `id_conducteur` (`id_conducteur`),
  KEY `id_requete` (`id_requete`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tj_message`
--

LOCK TABLES `tj_message` WRITE;
/*!40000 ALTER TABLE `tj_message` DISABLE KEYS */;
/*!40000 ALTER TABLE `tj_message` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tj_note`
--

DROP TABLE IF EXISTS `tj_note`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tj_note` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `niveau` int(2) NOT NULL,
  `id_conducteur` int(11) NOT NULL,
  `id_user_app` int(11) NOT NULL,
  `statut` varchar(5) NOT NULL,
  `creer` datetime NOT NULL,
  `modifier` datetime NOT NULL,
  `comment` text NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_conducteur` (`id_conducteur`,`id_user_app`),
  KEY `id_user_app` (`id_user_app`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tj_note`
--

LOCK TABLES `tj_note` WRITE;
/*!40000 ALTER TABLE `tj_note` DISABLE KEYS */;
/*!40000 ALTER TABLE `tj_note` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tj_notification`
--

DROP TABLE IF EXISTS `tj_notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tj_notification` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `titre` text NOT NULL,
  `message` text NOT NULL,
  `statut` varchar(5) NOT NULL,
  `creer` datetime NOT NULL,
  `modifier` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tj_notification`
--

LOCK TABLES `tj_notification` WRITE;
/*!40000 ALTER TABLE `tj_notification` DISABLE KEYS */;
INSERT INTO `tj_notification` VALUES (9,'Message','Hello world','yes','2019-11-01 11:07:37','0000-00-00 00:00:00');
/*!40000 ALTER TABLE `tj_notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tj_payment_method`
--

DROP TABLE IF EXISTS `tj_payment_method`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tj_payment_method` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `libelle` varchar(21) NOT NULL,
  `image` text NOT NULL,
  `statut` varchar(10) NOT NULL,
  `creer` datetime NOT NULL,
  `modifier` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tj_payment_method`
--

LOCK TABLES `tj_payment_method` WRITE;
/*!40000 ALTER TABLE `tj_payment_method` DISABLE KEYS */;
INSERT INTO `tj_payment_method` VALUES (5,'Cash','image_method_1575136572.6831_944653490.png','yes','2019-11-30 11:04:28','2019-11-30 17:56:12'),(7,'PayPal','image_method_1575134063.1561_602480122.png','yes','2019-11-30 17:14:23','0000-00-00 00:00:00'),(8,'Credit Card','image_method_1575134086.263_1420646508.png','yes','2019-11-30 17:14:46','0000-00-00 00:00:00'),(9,'My Wallet','image_method_1578411935.0009_2031756.png','yes','2020-01-07 15:45:35','0000-00-00 00:00:00');
/*!40000 ALTER TABLE `tj_payment_method` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tj_recu`
--

DROP TABLE IF EXISTS `tj_recu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tj_recu` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `image` text NOT NULL,
  `image_name` varchar(200) NOT NULL,
  `montant` int(11) NOT NULL,
  `duree` varchar(21) NOT NULL,
  `distance` int(11) NOT NULL,
  `id_course` int(11) NOT NULL,
  `id_conducteur` int(11) NOT NULL,
  `id_user_app` int(11) NOT NULL,
  `creer` datetime NOT NULL,
  `modifier` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_course` (`id_course`,`id_conducteur`,`id_user_app`)
) ENGINE=MyISAM AUTO_INCREMENT=14 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tj_recu`
--

LOCK TABLES `tj_recu` WRITE;
/*!40000 ALTER TABLE `tj_recu` DISABLE KEYS */;
/*!40000 ALTER TABLE `tj_recu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tj_requete`
--

DROP TABLE IF EXISTS `tj_requete`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tj_requete` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_user_app` int(11) NOT NULL,
  `depart_name` varchar(100) NOT NULL,
  `destination_name` varchar(100) NOT NULL,
  `latitude_depart` varchar(21) NOT NULL,
  `longitude_depart` varchar(21) NOT NULL,
  `latitude_arrivee` varchar(21) NOT NULL,
  `longitude_arrivee` varchar(21) NOT NULL,
  `place` text NOT NULL,
  `number_poeple` int(2) NOT NULL,
  `distance` int(11) NOT NULL,
  `duree` varchar(21) NOT NULL,
  `montant` int(11) NOT NULL,
  `trajet` text NOT NULL,
  `statut` varchar(10) NOT NULL,
  `statut_paiement` varchar(10) NOT NULL,
  `id_conducteur` int(11) NOT NULL,
  `id_payment_method` int(11) NOT NULL,
  `creer` datetime NOT NULL,
  `modifier` datetime NOT NULL,
  `date_retour` date NOT NULL,
  `heure_retour` time NOT NULL,
  `statut_round` varchar(5) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_user_app` (`id_user_app`),
  KEY `id_conducteur` (`id_conducteur`),
  KEY `id_payment_method` (`id_payment_method`)
) ENGINE=InnoDB AUTO_INCREMENT=168 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tj_requete`
--

LOCK TABLES `tj_requete` WRITE;
/*!40000 ALTER TABLE `tj_requete` DISABLE KEYS */;
/*!40000 ALTER TABLE `tj_requete` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tj_requete_book`
--

DROP TABLE IF EXISTS `tj_requete_book`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tj_requete_book` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_user_app` int(11) NOT NULL,
  `depart_name` varchar(200) NOT NULL,
  `destination_name` varchar(200) NOT NULL,
  `latitude_depart` varchar(21) NOT NULL,
  `longitude_depart` varchar(21) NOT NULL,
  `latitude_arrivee` varchar(21) NOT NULL,
  `longitude_arrivee` varchar(21) NOT NULL,
  `place` text NOT NULL,
  `number_poeple` int(3) NOT NULL,
  `distance` int(11) NOT NULL,
  `duree` varchar(21) NOT NULL,
  `montant` int(11) NOT NULL,
  `trajet` text NOT NULL,
  `statut` varchar(10) NOT NULL,
  `statut_paiement` varchar(10) NOT NULL,
  `id_conducteur` int(11) NOT NULL,
  `creer` datetime NOT NULL,
  `modifier` datetime NOT NULL,
  `date_book` text NOT NULL,
  `nb_day` int(11) NOT NULL,
  `heure_depart` time NOT NULL,
  `cu` int(11) NOT NULL,
  `id_payment_method` int(11) NOT NULL,
  `heure_retour` time NOT NULL,
  `statut_round` varchar(5) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_user_app` (`id_user_app`,`id_conducteur`),
  KEY `id_conducteur` (`id_conducteur`),
  KEY `id_payment_method` (`id_payment_method`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tj_requete_book`
--

LOCK TABLES `tj_requete_book` WRITE;
/*!40000 ALTER TABLE `tj_requete_book` DISABLE KEYS */;
/*!40000 ALTER TABLE `tj_requete_book` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tj_settings`
--

DROP TABLE IF EXISTS `tj_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tj_settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` text NOT NULL,
  `footer` text NOT NULL,
  `email` varchar(200) NOT NULL,
  `creer` datetime NOT NULL,
  `modifier` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tj_settings`
--

LOCK TABLES `tj_settings` WRITE;
/*!40000 ALTER TABLE `tj_settings` DISABLE KEYS */;
INSERT INTO `tj_settings` VALUES (1,'Vehicle Rental - ADMIN','Â© 2019 Vehicle Rental ','issoufwoumtana@gmail.com','2019-12-15 09:41:04','2020-01-11 00:16:28');
/*!40000 ALTER TABLE `tj_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tj_transaction`
--

DROP TABLE IF EXISTS `tj_transaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tj_transaction` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `amount` int(11) NOT NULL,
  `id_user_app` int(11) NOT NULL,
  `creer` datetime NOT NULL,
  `modifier` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tj_transaction`
--

LOCK TABLES `tj_transaction` WRITE;
/*!40000 ALTER TABLE `tj_transaction` DISABLE KEYS */;
INSERT INTO `tj_transaction` VALUES (10,10000,15,'2020-01-07 13:29:40','0000-00-00 00:00:00'),(11,10028,15,'2020-01-07 13:30:13','0000-00-00 00:00:00'),(12,5,15,'2020-01-07 14:19:30','0000-00-00 00:00:00');
/*!40000 ALTER TABLE `tj_transaction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tj_type_vehicule`
--

DROP TABLE IF EXISTS `tj_type_vehicule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tj_type_vehicule` (
  `id` int(11) NOT NULL,
  `libelle` varchar(21) NOT NULL,
  `prix` varchar(21) NOT NULL,
  `image` text NOT NULL,
  `creer` datetime NOT NULL,
  `modifier` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tj_type_vehicule`
--

LOCK TABLES `tj_type_vehicule` WRITE;
/*!40000 ALTER TABLE `tj_type_vehicule` DISABLE KEYS */;
INSERT INTO `tj_type_vehicule` VALUES (7,'Mini','10','image_vehicle_type_1573996336.5819_16352010.png','2019-11-17 12:07:09','2019-11-17 13:12:16'),(8,'Sedan','20','image_vehicle_type_1573997216.166_1123670877.png','2019-11-17 12:08:36','2019-11-17 13:26:56'),(9,'Suv','25','image_vehicle_type_1573996373.3204_1389918996.png','2019-11-17 12:09:14','2019-11-17 13:12:53');
/*!40000 ALTER TABLE `tj_type_vehicule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tj_type_vehicule_rental`
--

DROP TABLE IF EXISTS `tj_type_vehicule_rental`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tj_type_vehicule_rental` (
  `id` int(11) NOT NULL,
  `libelle` varchar(21) NOT NULL,
  `prix` varchar(21) NOT NULL,
  `image` text NOT NULL,
  `creer` datetime NOT NULL,
  `modifier` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tj_type_vehicule_rental`
--

LOCK TABLES `tj_type_vehicule_rental` WRITE;
/*!40000 ALTER TABLE `tj_type_vehicule_rental` DISABLE KEYS */;
INSERT INTO `tj_type_vehicule_rental` VALUES (5,'Suzuki berline','1000','image_vehicle_type_1576049395.5792_747967305.png','2019-12-11 07:23:49','2019-12-11 07:29:55'),(6,'Range Rover','1500','image_vehicle_type_1576049057.0032_429462169.png','2019-12-11 07:24:17','0000-00-00 00:00:00'),(7,'Limousine','2000','image_vehicle_type_1576049069.6639_499994924.png','2019-12-11 07:24:29','0000-00-00 00:00:00'),(8,'Hummer','3000','image_vehicle_type_1576049086.4784_1490142576.png','2019-12-11 07:24:46','0000-00-00 00:00:00');
/*!40000 ALTER TABLE `tj_type_vehicule_rental` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tj_user`
--

DROP TABLE IF EXISTS `tj_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tj_user` (
  `id` int(11) NOT NULL,
  `nom_prenom` varchar(21) NOT NULL,
  `telephone` varchar(21) NOT NULL,
  `email` varchar(100) NOT NULL,
  `mdp` varchar(100) NOT NULL,
  `statut` varchar(5) NOT NULL,
  `creer` datetime NOT NULL,
  `modifier` datetime NOT NULL,
  `id_categorie_user` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_categorie_user` (`id_categorie_user`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tj_user`
--

LOCK TABLES `tj_user` WRITE;
/*!40000 ALTER TABLE `tj_user` DISABLE KEYS */;
INSERT INTO `tj_user` VALUES (1,'Administrateur','+226 63 86 22 46','admin@admin.com','21232f297a57a5a743894a0e4a801fc3','yes','2019-09-19 00:00:00','2019-09-20 11:17:49',1),(2,'Youssouf Woumtana','+226 63 86 22 46','issoufwoumtana@gmail.com','bee454adf387bc2ec64aa3f2e9d5a8f0','no','2019-09-19 11:04:44','0000-00-00 00:00:00',3);
/*!40000 ALTER TABLE `tj_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tj_user_app`
--

DROP TABLE IF EXISTS `tj_user_app`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tj_user_app` (
  `id` int(11) NOT NULL,
  `nom` varchar(21) NOT NULL,
  `prenom` varchar(21) NOT NULL,
  `email` varchar(100) NOT NULL,
  `phone` varchar(21) NOT NULL,
  `mdp` varchar(100) NOT NULL,
  `login_type` varchar(21) NOT NULL,
  `photo` text NOT NULL,
  `photo_path` text NOT NULL,
  `statut` varchar(5) NOT NULL,
  `tonotify` varchar(5) NOT NULL,
  `device_id` text NOT NULL,
  `fcm_id` text NOT NULL,
  `creer` datetime NOT NULL,
  `modifier` datetime NOT NULL,
  `amount` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tj_user_app`
--

LOCK TABLES `tj_user_app` WRITE;
/*!40000 ALTER TABLE `tj_user_app` DISABLE KEYS */;
INSERT INTO `tj_user_app` VALUES (15,'','Customer','','+12345678910','25d55ad283aa400af464c76d713c07ad','phone','','','yes','yes','4637d12a3260a6b1','fLHWeC-qDcE:APA91bHnAC_KWkxbMVoJCf5W7RN5_YC5VSYDNJgt1hc7KLBOr4x5OVS2YtLwNmVRB482-Fesu5OW5FwZ-KZXP8qY7WT9QWkKXuY246-bqvjhT1ZjP-mgt6q379bf82A9e_n6UoeJqBD1','2019-11-30 09:05:14','0000-00-00 00:00:00',10033);
/*!40000 ALTER TABLE `tj_user_app` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tj_vehicule`
--

DROP TABLE IF EXISTS `tj_vehicule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tj_vehicule` (
  `id` int(11) NOT NULL,
  `brand` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  `color` varchar(21) NOT NULL,
  `numberplate` varchar(100) NOT NULL,
  `passenger` int(2) NOT NULL,
  `id_conducteur` int(11) NOT NULL,
  `statut` varchar(5) NOT NULL,
  `creer` datetime NOT NULL,
  `modifier` datetime NOT NULL,
  `id_type_vehicule` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_vehicule` (`id_conducteur`),
  KEY `id_conducteur` (`id_conducteur`),
  KEY `id_type_vehicule` (`id_type_vehicule`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tj_vehicule`
--

LOCK TABLES `tj_vehicule` WRITE;
/*!40000 ALTER TABLE `tj_vehicule` DISABLE KEYS */;
INSERT INTO `tj_vehicule` VALUES (27,'Mercedes-Benz','AKG67','Green','11 GJ 3398',0,47,'yes','2019-11-30 09:07:26','0000-00-00 00:00:00',7);
/*!40000 ALTER TABLE `tj_vehicule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tj_vehicule_rental`
--

DROP TABLE IF EXISTS `tj_vehicule_rental`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tj_vehicule_rental` (
  `id` int(11) NOT NULL,
  `nombre` varchar(21) NOT NULL,
  `statut` varchar(5) NOT NULL,
  `prix` int(11) NOT NULL,
  `nb_place` int(2) NOT NULL,
  `image` text NOT NULL,
  `creer` datetime NOT NULL,
  `modifier` datetime NOT NULL,
  `id_type_vehicule_rental` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_type_vehicule_rental` (`id_type_vehicule_rental`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tj_vehicule_rental`
--

LOCK TABLES `tj_vehicule_rental` WRITE;
/*!40000 ALTER TABLE `tj_vehicule_rental` DISABLE KEYS */;
INSERT INTO `tj_vehicule_rental` VALUES (2,'10','yes',1000,4,'','2019-12-11 08:01:42','0000-00-00 00:00:00',5),(3,'15','yes',1500,5,'','2019-12-11 08:02:02','0000-00-00 00:00:00',6),(4,'20','yes',2000,6,'','2019-12-11 08:02:20','0000-00-00 00:00:00',7),(5,'35','yes',3500,6,'','2019-12-11 08:02:49','2019-12-11 08:06:00',8);
/*!40000 ALTER TABLE `tj_vehicule_rental` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2020-10-06 22:08:27
